.title {
  margin-bottom: var(--space-2xs);
}

.changelog {
  max-height: 600px;
  overflow: hidden;
  padding-bottom: var(--space-m);
  padding-left: var(--space-3xs);
}

.changelog:global(.all) {
  max-height: none;
}

.source {
  font-size: var(--fs--1);
  margin-bottom: var(--space-xs);
}

.source,
.source a {
  color: var(--text-color-light);
}

.source a:hover {
  color: var(--link-color);
}

.content {
  border-left: var(--border-width) solid var(--border-color);
  padding-left: var(--space-s);
}

.content p {
  margin-bottom: var(--space-2xs);
}

.content > p:first-child,
.content > p:first-child + p {
  display: none;
}

.content blockquote {
  padding-left: 0;
  font-size: var(--fs--1);
  margin-bottom: 0;
}

.content blockquote::before {
  display: none;
}

.content h2,
.content h3,
.content h4 {
  position: relative;
  margin-bottom: 0;
  font-size: var(--fs-0);
  line-height: var(--fs-1);
}

.content h2::before,
.content h3::before,
.content h4::before {
  content: '';
  width: 0.5rem;
  height: 0.5rem;
  border-radius: 50%;
  display: inline-block;
  background: var(--border-color);
  position: absolute;
  left: -1.55rem;
  top: 0.5rem;
}

.content h2,
.content h3 {
  font-size: var(--fs-1);
  background: none;
  padding: 0;
  margin-left: 0;
  margin-top: var(--space-3xs);
  margin-bottom: var(--space-m);
}

.content ul {
  font-size: var(--fs--1);
  line-height: var(--fs-1);
  margin-left: var(--space-3xs);
}

.content ul li {
  margin-bottom: 0;
}
