.exif {
  margin-bottom: var(--space-2xl);
}

.data {
  font-size: var(--fs--2);
  color: var(--text-color-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.data span {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  padding: var(--space-m) var(--space-s);
  border-bottom: 1px dashed var(--border-color);
}

.data span svg {
  display: block;
  margin-bottom: var(--space-3xs);
  opacity: 0.65;
}

@media (min-width: 40rem) {
  .data {
    font-size: var(--fs--1);
  }

  .data span {
    border-left: 1px dashed var(--border-color);
    border-bottom: 0;
  }

  .data span:last-child {
    border-right: 1px dashed var(--border-color);
  }
}

.map {
  composes: frame from '@/components/ui/Picture/index.module.css';
  height: 220px;
}

.map img {
  border-radius: 0;
}

.map > div:first-child {
  background: none;
}
