---
layout: base
---

<section role="main" id="main">

    {% if page.type == 'category' %}
    <h1 class="page-title">{{ page.title }}</h1>
    {% elsif page.type == 'tag' %}
    <h1 class="page-title"><span class="hash">#</span>{{ page.title }}</h1>
    {% else %}
    <h1 class="page-title">{{ page.type }} archive for {{ page.title }}</h1>
    {% endif %}
    
    {% if page.path contains "photos" %}<div class="grid grid--gutters grid--half grid-medium--third">{% endif %}
        {% for post in page.posts %}
            
            {% if post.layout == "photo" %}
                {% include photos.html %}
            {% else %}
                {% include articles.html %}
            {% endif %}
            
        {% endfor %}
    {% if page.path contains "photos" %}</div>{% endif %}

</section>

{% include paginator.html %}
