---
layout: base
---

<article class="hentry format-image">
    
    <div class="photoPost">
    	<figure class="hmedia">
            
            <span data-picture data-alt="{{ page.title }}">
                <span data-src="/media/320/{{ page.image }}"></span>
                <span data-src="/media/640/{{ page.image }}"   data-media="(min-device-pixel-ratio: 1.5)"></span>
                <span data-src="/media/640/{{ page.image }}"   data-media="(min-width: 500px)"></span>
                <span data-src="/media/1280/{{ page.image }}"  data-media="(min-width: 640px) and (min-device-pixel-ratio: 2.0)"></span>

                <noscript>
                    <img src="/media/{{ page.image }}">
                </noscript>
            </span>
            
            <figcaption class="entry-title fn">{{ page.title }}</figcaption>
    		exif
    	</figure>
    </div>
    
    <section class="entry-content">
        {{ content }}
    </section>
    
    <footer class="entry-meta">
        <p class="category">
            {% for category in page.categories %}
                <a rel="category tag" href="" title="{{ category }}">{{ category }}</a>
            {% endfor %}
        </p>
		<p class="byline author vcard source-org"><span class="by">by</span> <a class="fn" rel="author" href="/about/">{{ page.author }}</a></p>
		<p class="time">{{ page.date | date_to_string }} <span class="modtime"></span></p>
    </footer>
    
</article>