---
layout: base
---

<section role="main" id="main" class="page-single">

    <article class="hentry format-link">
        <header>
            <h1 class="entry-title">
                <a href="{{ page.linkurl }}" title="Go to source: {{ page.linkurl | remove:'http://' | remove:'https://' | remove:'www.' }}">
                    {{ page.title | titlecase }}
                    <svg class="icon icon-entypo icon-entypo-forward">
                        <use xlink:href="/assets/img/sprite.svg#entypo-forward"></use>
                    </svg>
                    <span class="linkurl">{{ page.linkurl | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span>
                </a>
            </h1>
        </header>

        <section class="entry-content">
            {{ content }}
            <p>
                <a class="more-link" href="{{ page.linkurl }}">Go to source
                    <svg class="icon icon-entypo icon-entypo-forward">
                        <use xlink:href="/assets/img/sprite.svg#entypo-forward"></use>
                    </svg>
                </a>
                <a class="permalink-link" href="{{ page.url }}" rel="tooltip" title="Permalink">
                    <svg class="icon icon-entypo icon-entypo-infinity">
                        <use xlink:href="/assets/img/sprite.svg#entypo-infinity"></use>
                    </svg>
                </a>
            </p>
        </section>

        {% include entry_meta.html %}

        {% include comments.html %}

    </article>

</section>
