---
layout: default
---

<article class="hentry format-link">
	<header>
		<h1 class="entry-title">
            <a href="{{ page.linkurl }}">{{ page.title }} <i class="icon-external-link"></i></a>
        </h1>
	</header>
    
	<aside class="entry-meta">
		<p class="byline author vcard source-org">by <a class="fn" rel="author" href="/about/">{{ page.author }}</a></p>
		<p class="time">{{ page.date | date_to_string }}</p>
	</aside>

    <section class="entry-content">
        {{ content }}
    </section>
    
    <footer class="entry-meta">
        
    </footer>
</article>