---
layout: base
---

<section role="main" id="main" class="page-single row">
    
    <article class="hentry format-link">
    	<header>
    		<h1 class="entry-title">
                <a href="{{ post.linkurl }}" title="Go to source: {{ page.linkurl | remove:'http://' | remove:'https://' | remove:'www.' }}">
                    {{ page.title | titlecase }} <i class="icon-forward"></i>
                    <span class="linkurl">{{ page.linkurl | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span>
                </a>
            </h1>
    	</header>

        <section class="entry-content">
            {{ content }}
    		<p>
    			<a class="more-link" href="{{ page.linkurl }}">Go to source <i class="icon-forward"></i></a>
                <a class="permalink-link" href="{{ page.url }}" rel="tooltip" title="Permalink">&#8734;</a>
    		</p>
        </section>
        
        {% include entry_meta.html %}
        
        {% include comments.html %}
        
    </article>

</section>

{% include related_posts.html %}