---
layout: base

js: photos.min.js
---

<section role="main" id="main" class="page-single">

    <article class="hentry format-photo">

        <header>
            <h1 class="entry-title fn">{{ page.title | titlecase }}</h1>
        </header>

        <figure class="hentry__teaser hmedia">

            {% include picture.html %}

            <aside class="exif">
                <div class="container">
                    <span class="exif__model" title="Camera model"></span>
                    <span class="exif__aperture" title="Aperture"></span>
                    <span class="exif__shutterspeed" title="Shutter speed"></span>
                    <span class="exif__exposure" title="Exposure"></span>
                    <span class="exif__iso" title="ISO"></span>
                    <span class="exif__focallength" title="Focal length"></span>
                </div>
            </aside>
        </figure>

        <section class="entry-content">
            {{ content }}
        </section>

        {% include entry_meta.html %}

        {% include relatedphotos.html %}

    </article>

</section>
