---
layout: base
---

<section role="main" id="main" class="page-single row">
    
    <article class="hentry format-image">
    
    	<figure class="hmedia">
        
            {% picture {{ page.image }} %}
        
            <figcaption class="entry-title fn">{{ page.title | titlecase }}</figcaption>
            
    	</figure>
    
        <section class="entry-content">
            {{ content }}
        </section>
        
        {% include entry_meta.html %}
    
    </article>

</section>

{% include related_posts.html %}