---
layout: base

js: photos.min.js
---

<section role="main" id="main" class="page-single">

    <article class="hentry format-photo">

        <header>
            <h1 class="entry-title fn">{{ page.title | titlecase }}</h1>
        </header>

        <figure class="hentry__teaser hmedia">

            {% include picture.html %}

        </figure>

        <aside class="exif">
            <div class="exif__make"></div>
        </aside>

        <section class="entry-content">
            {{ content }}
        </section>

        {% include entry_meta.html %}

        {% include relatedphotos.html %}

    </article>

</section>
