---
layout: base
---

<section role="main" id="main" class="page-single row">
    
    <article class="hentry format-post">
    	<header>
    		<h1 class="entry-title">{{ page.title | titlecase }}</h1>
    	</header>

        <section class="entry-content">
            {% if page.image %}
                {% picture {{ page.image }} class="teaser" %}
            {% endif %}
        
            {{ content | condense_spaces }}
        </section>
        
        {% include entry_meta.html %}
        
    </article>

</section>

{% include related_posts.html %}