---
layout: base
---

<section role="main" id="main" class="page-single">

    <article class="hentry format-post">
        <header>
            <h1 class="entry-title">{{ page.title | titlecase }}</h1>
        </header>

        <section class="entry-content">
            {% if page.image %}
                <figure class="hentry__teaser">
                    {% picture {{ page.image }} %}
                </figure>
            {% endif %}

            {{ content }}
        </section>

        {% include actions.html %}

        {% include entry_meta.html %}

        {% include relatedposts.html %}

    </article>

</section>
