.input {
  display: block;
  padding: var(--padding-base-vertical) var(--padding-base-horizontal);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: var(--line-height);
  color: var(--input-color);
  background-color: var(--input-bg);
  background-image: none;
  border: var(--border-width) solid var(--border-color);
  border-radius: var(--border-radius);
  box-shadow: none;
  transition: all ease-in-out 0.15s;
  appearance: none;
}

/* stylelint-disable selector-no-vendor-prefix */
.input::-moz-placeholder,
.input::-webkit-input-placeholder,
.input:-ms-input-placeholder {
  color: var(--input-color-placeholder);
  opacity: 1;
}
/* stylelint-enable selector-no-vendor-prefix */

.input:focus {
  /* box-shadow: 0 0 0 var(--border-width) var(--input-border-focus); */
  border-color: var(--input-border-focus) !important;
  outline: 0;
}

.input[disabled] {
  color: var(--text-color-dimmed);
}
