.searchResults {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: var(--body-background-color);
  animation: fadein 0.3s ease-out;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 91vh;
  padding: var(--space-s) var(--space-s) var(--space-m) var(--space-s);
}

.results {
  composes: content from '@/components/layouts/Base/index.module.css';
  margin-bottom: 0;
  display: grid;
  --grid-gap: var(--space-m);
  gap: var(--grid-gap);
  grid-template-columns: repeat(
      auto-fit,
      minmax(
        min(
          calc((100% - var(--grid-gap)) / 2),
          calc((var(--maxWidthContent) - (2 * var(--grid-gap))) / 3)
        ),
        1fr
      )
    );
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
