.searchResults {
  position: absolute;
  inset: 0;
  z-index: 10;
  background: var(--body-background-color);
  animation: fadein 0.3s;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 91vh;
}

.results {
  composes: content from '@/components/layouts/Base/index.module.css';
  padding: var(--space-m) 0;
  margin-bottom: 0;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.post {
  display: block;
}

.title {
  font-size: var(--fs-1);
  line-height: var(--fs-2);
  margin: 0;
}

.results li {
  display: block;
  flex: 0 0 48%;
  margin-bottom: var(--space-m);
}

@media (min-width: 40rem) {
  .results li {
    flex-basis: 31%;
  }
}

.results li::before {
  display: none;
}

.results img {
  margin-bottom: 0;
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
