
<aside class="actions">
    <div class="grid grid--gutters grid--full grid-small--half">
        <div class="grid__col">
            <article class="action comment">
                <svg class="icon icon-entypo icon-entypo-twitter">
                    <use xlink:href="/assets/img/sprite.svg#entypo-twitter"></use>
                </svg>
                <h1 class="action__title">Have a comment?</h1>
                <p class="action__text">Hit me up <a href="https://twitter.com/intent/tweet?text=@kremalicious&url={{ site.url }}{{ page.url }}">@kremalicious</a></p>
            </article>
        </div>
        <div class="grid__col">
            <article class="action donate">
                <svg class="icon icon-entypo icon-entypo-bitcoin">
                    <use xlink:href="/assets/img/sprite.svg#entypo-bitcoin"></use>
                </svg>
                <h1 class="action__title">Found something useful?</h1>
                <p class="action__text">Say thanks <a href="#" class="js-vex-btc">with Bitcoins.</a></p>
            </article>
        </div>
    </div>
</aside>
