
{% if post.layout == "link" %}

    <article class="hentry format-link">
        <header>
            <h1 class="entry-title">
                <a href="{{ post.linkurl }}" title="Go to source: {{ post.linkurl | remove:'http://' | remove:'https://' | remove:'www.' }}">
                    {{ post.title | titlecase }}
                    <svg class="icon icon-entypo icon-entypo-forward">
                        <use xlink:href="/assets/img/sprite.svg#entypo-forward"></use>
                    </svg>
                    <span class="linkurl">{{ post.linkurl | remove:'http://' | remove:'https://' | remove:'www.' | split:'/' | first }}</span>
                </a>
            </h1>
        </header>

        <section class="entry-content">
            {{ post.content | markdownify }}
            <p>
                <a class="more-link" href="{{ post.linkurl }}">Go to source
                    <svg class="icon icon-entypo icon-entypo-forward">
                        <use xlink:href="/assets/img/sprite.svg#entypo-forward"></use>
                    </svg>
                </a>
                <a class="permalink-link" href="{{ post.url }}" data-toggle="tooltip" title="Permalink">
                    <svg class="icon icon-entypo icon-entypo-infinity">
                        <use xlink:href="/assets/img/sprite.svg#entypo-infinity"></use>
                    </svg>
                </a>
            </p>
        </section>
    </article>

{% elsif post.layout == "photo" %}

    <article class="hentry format-photo">

        <a class="photo-link" href="{{ post.url }}">
            <figure class="hentry__teaser hmedia">

                {% picture phototeaser {{ post.image }} %}

                <figcaption class="entry-title fn">{{ post.title | titlecase }}</figcaption>
            </figure>
        </a>

    </article>

{% else %}

    <article class="hentry format-post">
        <header>
            <h1 class="entry-title"><a href="{{ post.url }}">{{ post.title | titlecase }}</a></h1>
        </header>

        <section class="entry-content">

            {% if post.image %}
                <a class="hentry__teaser hentry__teaser--link" href="{{ post.url }}">
                    {% picture {{ post.image }} %}
                </a>
            {% endif %}

            {% capture has_more %}{{ post.content | has_excerpt }}{% endcapture %}

            {% unless post.categories contains "goodies" and page.path contains "goodies" %}
                {% if has_more == 'true' %}
                    {{ post.content | post.excerpt | excerpt | markdownify }}
                {% else %}
                    {{ post.excerpt | markdownify }}
                {% endif %}
            {% endunless %}

            {% if post.categories contains "goodies" and page.path contains "goodies" %}
                <footer class="goodie-actions grid grid--gutters grid--full grid-small--fit">

                    <p class="info grid__col">
                        <a class="btn icon icon-info" href="{{ post.url }}">
                            <svg class="icon icon-entypo icon-entypo-info-with-circle">
                                <use xlink:href="/assets/img/sprite.svg#entypo-info-with-circle"></use>
                            </svg>
                            Release Post
                        </a>
                    </p>

                    {% if post.download %}
                    <p class="download grid__col">
                        <a class="btn" href="/media/{{ post.download }}">
                            <svg class="icon icon-entypo icon-entypo-arrow-with-circle-down">
                                <use xlink:href="/assets/img/sprite.svg#entypo-arrow-with-circle-down"></use>
                            </svg>
                            Download <span>zip</span>
                        </a>
                    </p>
                    {% endif %}

                </footer>
            {% endif %}

            {% unless page.path contains "goodies" %}
                <a class="more-link" href="{{ post.url }}">
                    Continue reading
                    <svg class="icon icon-entypo icon-entypo-chevron-right">
                        <use xlink:href="/assets/img/sprite.svg#entypo-chevron-right"></use>
                    </svg>
                </a>
            {% endunless %}

        </section>
    </article>

{% endif %}
