<footer class="entry-meta">
	<p class="byline author vcard source-org"><span class="by">by</span> <a class="fn" rel="author" href="/about/">{{ page.author }}</a></p>

     <time class="pubdate" datetime="{{ page.date | date_to_xmlschema }}" pubdate{% if updated %} data-updated="true"{% endif %}>{{ page.date | timeago }}</time>

    {% if page.updated %}
      <time class="updated" datetime="{{ page.updated | date_to_xmlschema }}">Updated {{ page.updated | timeago }}</time>
    {% endif %}
    
    <!-- <p class="categories">
        {{ page.categories | category_links }}
    </p> -->
    
</footer>