<footer class="entry-meta">

	<p class="byline author vcard source-org">
        <span class="by">by</span> <a class="fn" rel="author" href="https://matthiaskretschmann.com">
			{% if page.author %}
				{{ page.author }}
			{% else %}
				{{ site.author.name }}
			{% endif %}
		</a>
    </p>

	<p class="time">
		<time-ago class="pubdate" datetime="{{ page.date | date_to_xmlschema }}" pubdate{% if page.updated %} data-updated="true"{% endif %}>{{ page.date | date_to_string }}</time-ago>

	    {% if page.updated %} &bull; updated <time-ago class="updated" datetime="{{ page.updated | date_to_xmlschema }}">{{ page.updated | date_to_string }}</time-ago>{% endif %}
	</p>

	<p class="categories">
		{% for category in page.categories %}
			<a class="category" href="/{{ category }}">{{ category }}</a>
		{% endfor %}
	</p>

	<p class="tags">
		{% for tag in page.tags %}
			<a class="tag" href="/tag/{{ tag }}">{{ tag }}</a>
		{% endfor %}
	</p>

</footer>
