<footer role="contentinfo" class="site__footer">
    <div class="footer__content">

        <div class="container">

            <div class="vcard author">
                <img class="avatar photo" src="/assets/img/avatar.jpeg" />
                <p class="footer-description">Blog of designer &amp; developer <a class="fn" rel="author" href="/about/">{{ site.author.name }}</a>
            </div>

            <aside class="subscribe">
                <h1 class="subscribe-title">Subscribe</h1>
                <p>
                    <a class="link rss" href="http://kremalicious.com/feed">
                        <svg class="icon icon-rss">
                            <use xlink:href="/assets/img/sprite.svg#rss"></use>
                        </svg>
                    </a>
                    <a class="link twitter" href="https://twitter.com/kremaliciouscom">
                        <svg class="icon icon-twitter">
                            <use xlink:href="/assets/img/sprite.svg#twitter"></use>
                        </svg>
                    </a>
                    <a class="link google" href="https://plus.google.com/100015950464424503954" rel="publisher">
                        <svg class="icon icon-google+">
                            <use xlink:href="/assets/img/sprite.svg#google+"></use>
                        </svg>
                    </a>
                    <a class="link facebook" href="https://www.facebook.com/pages/kremalicious/154539134564052">
                        <svg class="icon icon-facebook">
                            <use xlink:href="/assets/img/sprite.svg#facebook"></use>
                        </svg>
                    </a>
                </p>
            </aside>

            <section class="footer-copyright">
                <p>&copy; 2005&ndash;{{ site.time | date: "%Y" }} <a href="http://matthiaskretschmann.com" rel="me">Matthias Kretschmann</a></p>

                <p>
                    <a href="https://github.com/kremalicious/kremalicious3/blob/master/_src/{{ page.path }}">
                        <svg class="icon icon-github">
                            <use xlink:href="/assets/img/sprite.svg#github"></use>
                        </svg>
                        View source
                    </a>
                    <a href="#" class="footer__btc js-vex-btc">
                        <svg class="icon icon-bitcoin">
                            <use xlink:href="/assets/img/sprite.svg#bitcoin"></use>
                        </svg>
                        <code>{{ site.author.bitcoin }}</code>
                    </a>
                </p>
            </section>

        </div>

    </div>
</footer>

{% include scripts.html %}
