<footer role="contentinfo" class="footer__content">

    <div class="container">

        <div class="vcard author">
            <img class="avatar photo" src="/assets/img/avatar.jpeg" />
            <p class="footer-description">Blog of designer &amp; developer <a class="fn" rel="author" href="/about/">{{ site.author.name }}</a>
        </div>

        <aside class="subscribe">
            <h1 class="subscribe-title">Subscribe</h1>
            <p>
                <a class="btn rss" href="http://kremalicious.com/feed">
                    <svg class="icon icon-entypo icon-entypo-rss">
                        <use xlink:href="/assets/img/sprite.svg#entypo-rss"></use>
                    </svg>
                </a>
                <a class="btn twitter" href="https://twitter.com/kremaliciouscom">
                    <svg class="icon icon-entypo icon-entypo-twitter">
                        <use xlink:href="/assets/img/sprite.svg#entypo-twitter"></use>
                    </svg>
                </a>
                <a class="btn google" href="https://plus.google.com/100015950464424503954" rel="publisher">
                    <svg class="icon icon-entypo icon-entypo-google+">
                        <use xlink:href="/assets/img/sprite.svg#entypo-google+"></use>
                    </svg>
                </a>
                <a class="btn facebook" href="https://www.facebook.com/pages/kremalicious/154539134564052">
                    <svg class="icon icon-entypo icon-entypo-facebook">
                        <use xlink:href="/assets/img/sprite.svg#entypo-facebook"></use>
                    </svg>
                </a>
            </p>
        </aside>

        <section class="footer-copyright">
            <p>© 2007 &ndash; {{ site.time | date: "%Y" }} <a href="http://matthiaskretschmann.com" rel="me">Matthias Kretschmann</a></p>

            <p>
                <a href="https://github.com/kremalicious/kremalicious3">
                    <svg class="icon icon-entypo icon-entypo-github">
                        <use xlink:href="/assets/img/sprite.svg#entypo-github"></use>
                    </svg>
                    View source
                </a>
            </p>
        </section>

    </div>

</footer>

<script src="/assets/js/kremalicious3.min.js" async></script>

<script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
    ga('create', 'UA-1441794-2', 'auto');
    ga('send', 'pageview');
</script>
