<footer role="contentinfo" class="site__footer">
    <div class="footer__content">

        <div class="container">

            <div class="vcard author">
                <img class="avatar photo" src="/assets/img/avatar.jpeg" />
                <p class="footer-description">Blog of designer &amp; developer <a class="fn" rel="author" href="/about/">{{ site.author.name }}</a>
            </div>

            <aside class="subscribe">
                <h1 class="subscribe-title">Subscribe</h1>
                <p>
                    <a class="btn rss" href="http://kremalicious.com/feed">
                        <svg class="icon icon-entypo icon-entypo-rss">
                            <use xlink:href="/assets/img/sprite.svg#entypo-rss"></use>
                        </svg>
                    </a>
                    <a class="btn twitter" href="https://twitter.com/kremaliciouscom">
                        <svg class="icon icon-entypo icon-entypo-twitter">
                            <use xlink:href="/assets/img/sprite.svg#entypo-twitter"></use>
                        </svg>
                    </a>
                    <a class="btn google" href="https://plus.google.com/100015950464424503954" rel="publisher">
                        <svg class="icon icon-entypo icon-entypo-google+">
                            <use xlink:href="/assets/img/sprite.svg#entypo-google+"></use>
                        </svg>
                    </a>
                    <a class="btn facebook" href="https://www.facebook.com/pages/kremalicious/154539134564052">
                        <svg class="icon icon-entypo icon-entypo-facebook">
                            <use xlink:href="/assets/img/sprite.svg#entypo-facebook"></use>
                        </svg>
                    </a>
                </p>
            </aside>

            <section class="footer-copyright">
                <p>&copy; {{ site.time | date: "%Y" }} <a href="http://matthiaskretschmann.com" rel="me">Matthias Kretschmann</a></p>

                <p>
                    <a href="https://github.com/kremalicious/kremalicious3">
                        <svg class="icon icon-entypo icon-entypo-github">
                            <use xlink:href="/assets/img/sprite.svg#entypo-github"></use>
                        </svg>
                        View source
                    </a>
                </p>
            </section>

        </div>

    </div>
</footer>

{% include scripts.html %}
