
<header role="banner" class="banner container">
	<div class="row">
    	<h1 class="banner-title">
    	    <a class="banner-logo" class="hide-text" href="/">kremalicious</a>
    	</h1>
	</div>
</header>

<nav role="navigation" class="nav-main container">
    <div class="row">
        <a class="nav-main-link" href="/goodies/">goodies</a>
        <a class="nav-main-link" href="/photos/">photos</a>
        <a class="nav-main-link" href="/personal/">personal</a>
        <a class="nav-main-link" href="/design/">design</a>
        <a class="nav-main-link" href="/photography/">photography</a>
    </div>
</nav>