
<div class="topbar container">
    <div class="row">
        
        <header role="banner" class="banner">
        	<h1 class="banner-title">
        	    <a class="banner-logo" href="/">kremalicious</a>
        	</h1>
        </header>

        <nav role="navigation" class="nav-main">
            <a class="menu-btn icon-list" href="#"></a>
            <div class="nav-popover">
                <a class="nav-link goodies icon-gift" href="/goodies/">goodies</a>
                <a class="nav-link photos icon-pictures" href="/photos/">photos</a>
                <a class="nav-link personal icon-user" href="/personal/">personal</a>
                <a class="nav-link design icon-tools" href="/design/">design</a>
                <a class="nav-link photography icon-camera" href="/photography/">photography</a>
            </div>
        </nav>
        
        <section class="site-search">
            <a class="search-btn icon-search" href="#"></a>
            <div class="search-area">
                <input type="search" class="input-search search-field" placeholder="Search everything">
                <a class="search-close close" href="#">x</a>
                <div class="search-results nav-popover"></div>
            </div>
        </section>
        
    </div>
</div>