
<meta content="{{ site.name }}" property="og:site_name">
{% if page.title %}
    <meta content="{{ page.title }}" property="og:title">
{% else %}
    <meta content="{{ site.name }}" property="og:title">
{% endif %}
{% if page.title %}
    <meta content="article" property="og:type">
    <meta content="https://matthiaskretschmann.com" property="article:author">
{% else %}
    <meta content="website" property="og:type">
{% endif %}
{% if page.description %}
    <meta content="{{ page.description }}" property="og:description">
{% elsif page.front_page %}
    <meta content="{{ site.description }}" property="og:description">
{% else %}
    <meta content="{{ page.excerpt | strip_html | strip_newlines }}" property="og:description">
{% endif %}
{% if page.url %}
    <meta content="{{ site.url}}{{ page.url | replace:'index.html','' }}" property="og:url">
{% endif %}
{% if page.date %}
    <meta content="{{ page.date | date_to_xmlschema }}" property="article:published_time">
{% endif %}
{% if page.image %}
    <meta content="{{ site.url }}/media/{{ page.image }}" property="og:image">
{% else %}
    <meta content="{{ site.url }}/assets/img/kremalicious1024.png" property="og:image">
{% endif %}
{% if page.categories %}
    {% for category in page.categories limit:1 %}
        <meta content="{{ category }}" property="article:section">
    {% endfor %}
{% endif %}
