{% if paginator.total_pages > 1 %}

    <nav class="row paginator">

        <p class="paginator-previous col2">
            {% if paginator.previous_page %}
            <a
                {% if page.category %}
                    {% if paginator.previous_page == 1 %}
                        href="/{{ page.category }}/"
                    {% else %}
                        href="/{{ page.category }}/page/{{ paginator.previous_page }}/"
                    {% endif %}
                {% else %}
                    {% if paginator.previous_page == 1 %}
                        href="/"
                    {% else %}
                        href="/page/{{ paginator.previous_page }}/"
                    {% endif %}
                {% endif %}
                rel="prev"><i class="icon icon-arrow-left"></i> Previous
            </a>
            {% endif %}
        </p>


        <p class="col2 pagenumber textcenter">
            <span class="paginator-number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </p>

        <p class="paginator-next col2">
            {% if paginator.next_page %}
            <a
                {% if page.category %}
                    href="/{{ page.category }}/page/{{ paginator.next_page }}/"
                {% else %}
                    href="/page/{{ paginator.next_page }}/"
                {% endif %}
                rel="next">Next <i class="icon icon-arrow-right"></i>
            </a>
            {% endif %}
        </p>

    </nav>

{% endif %}
