{% if paginator.total_pages > 1 %}

    <nav class="paginator grid">

        <p class="paginator-previous col2-xs">
            {% if paginator.previous_page %}
            <a
                {% if page.category %}
                    {% if paginator.previous_page == 1 %}
                        href="/{{ page.category }}/"
                    {% else %}
                        href="/{{ page.category }}/page/{{ paginator.previous_page }}/"
                    {% endif %}
                {% else %}
                    {% if paginator.previous_page == 1 %}
                        href="/"
                    {% else %}
                        href="/page/{{ paginator.previous_page }}/"
                    {% endif %}
                {% endif %}
                rel="prev">
                <svg class="icon icon-entypo icon-entypo-chevron-left">
                    <use xlink:href="/assets/img/sprite.svg#entypo-chevron-left"></use>
                </svg>
                 Previous
            </a>
            {% endif %}
        </p>

        <p class="paginator-pages col2-xs">
            <span class="paginator-number">{{ paginator.page }}</span> of <span class="paginator-number">{{ paginator.total_pages }}</span>
        </p>

        <p class="paginator-next col2-xs">
            {% if paginator.next_page %}
            <a
                {% if page.category %}
                    href="/{{ page.category }}/page/{{ paginator.next_page }}/"
                {% else %}
                    href="/page/{{ paginator.next_page }}/"
                {% endif %}
                rel="next">Next
                <svg class="icon icon-entypo icon-entypo-chevron-right">
                    <use xlink:href="/assets/img/sprite.svg#entypo-chevron-right"></use>
                </svg>
            </a>
            {% endif %}
        </p>

    </nav>

{% endif %}
