{% if paginator.total_pages > 1 %}

    <nav class="row paginator">
    
        {% if paginator.previous_page %}
            <p class="previous col2">
                <i class="icon-arrow-left"></i> 
                
                {% if page.category %}
                
                    {% if paginator.previous_page == 1 %}
                        <a href="/{{ page.category }}/" rel="prev">Previous</a>
                    {% else %}
                        <a href="/{{ page.category }}/page/{{ paginator.previous_page }}/" rel="prev">Previous</a>
                    {% endif %}
                    
                {% else %}
                    
                    {% if paginator.previous_page == 1 %}
                        <a href="/" rel="prev">Previous</a>
                    {% else %}
                        <a href="/page/{{ paginator.previous_page }}/" rel="prev">Previous</a>
                    {% endif %}
                    
                {% endif %}
                
            </p>
        {% endif %}
    
        <p class="col2 pagenumber textcenter">
            <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
        </p>
    
        {% if paginator.next_page %}
            <p class="next col2">
                {% if page.category %}
                    <a href="/{{ page.category }}/page/{{ paginator.next_page }}/" rel="next">Next</a> 
                {% else %}
                    <a href="/page/{{ paginator.next_page }}/" rel="next">Next</a> 
                {% endif %}
                <i class="icon-arrow-right"></i>
            </p>
        {% else %}
            <p class="next col2">
                The End
            </p>
        {% endif %}
    
    </nav>

{% endif %}