{% if site.related_posts.size > 1 %}
    <aside class="related-posts">

        <h1 class="related-posts-title">Related</h1>

        <div class="grid grid--gutters grid--full grid-small--half grid-medium--third">

            {% for post in site.related_posts limit:6 %}

                <article class="related-post grid__col">
                    <a class="post-title-link" href="{{ post.url }}">
                        {% if post.image %}
                            {% include picture.html size='photothumb' file=post.image %}
                        {% endif %}
                        <h1 class="post-title">{{ post.title | titlecase }}</h1>
                    </a>
                </article>

            {% endfor %}

        </div>

    </aside>
{% endif %}
