.title {
  font-size: var(--fs-3);
  margin-bottom: var(--space-m);
  color: var(--text-color-light);
  text-decoration: none;
}

.relatedPosts ul {
  display: grid;
  gap: var(--space-m);
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  padding: 0;
  margin: 0;
}

.relatedPosts li {
  display: block;
  margin: 0;
}

.relatedPosts li::before {
  display: none;
}

.relatedPosts li a {
  text-decoration: none;
}

.relatedPosts a > div {
  margin-bottom: 0;
}

.relatedPosts h3 {
  font-size: var(--fs-1);
  line-height: var(--fs-2);
}
