{
  "extends": [
    "stylelint-config-standard",
    "stylelint-config-css-modules",
    "stylelint-prettier/recommended"
  ],
  "plugins": ["stylelint-prettier"],
  "syntax": "scss",
  "rules": {
      "prettier/prettier": true,
      "at-rule-no-unknown": null
  }
}
