.conversion {
  font-size: var(--font-size-mini);
  color: var(--text-color-light);
  text-align: center;
  margin-top: calc(var(--spacer) / 6);
  animation: fadeIn 0.5s 0.8s ease-out backwards;
}

@media screen and (min-width: 40rem) {
  .conversion {
    text-align: left;
    margin-top: 0;
    margin-left: calc(var(--spacer) * 2.4);
  }
}

.conversion span {
  margin-left: calc(var(--spacer) / 2);
}
