---
import { ExternalLink, Link } from '@/images/components'
import styles from './index.module.css'

type Props = {
  linkurl?: string
  slug: string
}

const { slug, linkurl } = Astro.props
---

<div class={styles.postLinkActions}>
  <a href={linkurl}>
    Go to source <ExternalLink />
  </a>
  <a href={`/${slug}/`} rel="tooltip" title="Permalink">
    <Link />
  </a>
</div>
