.photos {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: var(--spacer);
}

@media (min-width: 40rem) {
  .photos {
    grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  }
}

.photo a {
  display: block;
}

.photo figure,
.photo figure > div {
  margin: 0;
}

.photo figcaption {
  font-size: var(--font-size-base);
  padding-left: calc(var(--spacer) / 2);
  padding-right: calc(var(--spacer) / 2);
}
