@import 'variables';
@import 'mixins';

.hentry {
    composes: hentry from '../templates/Post.module.scss';

    @include divider;

    margin-top: 0;
    margin-bottom: 0;
    padding-top: $spacer * 2;
    padding-bottom: $spacer * 2;

    @media (min-width: $screen-sm) {
        padding-top: $spacer * 3;
        padding-bottom: $spacer * 3;
    }
}

.hentryImageTitle {
    transition: .1s ease-out;
    font-size: $font-size-h3;
    font-family: $font-family-headings;
    line-height: $line-height-headings;
    font-weight: $font-weight-headings;
    letter-spacing: -.02em;
    margin: 0;
    position: absolute;
    top: 10%;
    padding: $spacer / 3 $spacer;
    background: rgba($link-color, .85);
    color: #fff;
    text-shadow: 0 1px 0 #000;
    left: 0;
    opacity: 0;
    transform: translate3d(0, -20px, 0);
}

.hentryImage {
    composes: hentryImage from './Post.module.scss';

    a {
        position: relative;
        display: block;

        &:hover {
            > div {
                border-color: $link-color !important;
            }

            .hentryImageTitle {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}

.archiveTitle {
    @include heading-band();

    font-size: $font-size-h3;
    margin-top: 0;
    margin-bottom: 0;

    @media (min-width: $screen-md) {
        margin-left: -117%;
    }
}
