---
type Props = {
  body: string
}

// Extract lead paragraph from content
// Grab everything before more tag, or just first paragraph
let lead
const content = Astro.props.body
const separator = '<!-- more -->'

if (content.includes(separator)) {
  lead = content.split(separator)[0]
} else {
  lead = content.split('\n')[0]
}
---

<style>
  .lead {
    font-size: var(--font-size-large);
    margin-bottom: calc(var(--spacer) * var(--line-height));
  }

  .index {
    font-size: var(--font-size-base);
    margin-top: calc(var(--spacer) * var(--line-height));
  }
</style>

<div class="lead">{lead}</div>
