/////////////////////////////////////
// BUTTONS CSS FOR KREMALICIOUS.COM
/////////////////////////////////////

.btn {
    font-family: @headings-font-family;
    font-weight: @headings-font-weight;
    font-size: .85em;
	line-height: 1em;
	text-align: center;
    text-transform: uppercase;
    vertical-align: middle;
    cursor: pointer;
	display: inline-block;
	padding: @line-height-computed/2 2em;
	margin-bottom: @line-height-computed;
	background: rgba(255,255,255,.1);
	border: 1px solid rgba(94,131,162,.3);
	border-bottom-color: rgba(94,131,162,.4);
	.border-radius;
	.box-shadow(~"0 1px 3px rgba(151,156,159,.1), inset 0 1px 0 rgba(255,255,255,.7)");
	.transition;

	&:hover {
		background-color: rgba(255,255,255,.5);
	}

	&:active {
		background-color: transparent;
		border-top-color: rgba(94,131,162,.5);
		outline: 0;
		.box-shadow(0 1px 0 #fff);
		.transition(none);
	}

	span {
		font-size: .9em;
		color: rgba(19, 56, 50, .6);
		margin-left: .3em;
	}
}

.btn-primary,
a.btn-primary:visited {
	color: darken(@link-color, 30%);
	text-shadow: 0 1px 0 rgba(255,255,255,.3);
	background: lighten(@link-color, 15%);
	border-color: rgba(40,101,93,.4);
	border-bottom-color: rgba(40,101,93,.5);
	.box-shadow(~"0 1px 3px rgba(151,156,159,.1), inset 0 1px 0 rgba(255,255,255,.4)");

	&:hover {
		color: darken(@link-color, 30%);
		background-color: lighten(@link-color, 25%);
		text-shadow: 0 1px 0 rgba(255,255,255,.3);
	}

	&:active {
		color: darken(@link-color, 30%);
		background-color: lighten(@link-color, 15%);
		border-top-color: rgba(40,101,93,.9);
		.box-shadow(~"0 1px 0 #fff,inset 0 0 18px rgba(43,100,92,.3)");
		.transition(none);
	}

}

.more-link {
	.btn;
	background: none;
	border: none;
	.box-shadow(none);
	padding: 0;
	margin: 0;

    i:before {
        top: .15em;
        position: relative;
    }

	&:hover {
		background: none;
	}
    &:active {
        background: @link-color;
        .box-shadow(none);
    }
}

.btn-block {
	display: block;
}


//
// Tweet button
//
.btn.twitter-share {
    display: inline-block;
    padding: 1px 3px 0 3px;
    height: 21px;
	border: 1px solid #ccc;
	border-radius: 3px;
	font: bold 11px/17px Helvetica, Arial, sans-serif;
	text-align: left;
	color: #333;
	text-transform: none;
    text-decoration: none;
	text-shadow: 0 1px 0 rgba(255, 255, 255, .5);
	background-color: #f8f8f8;
	#gradient > .vertical(#fff; 0%; #dedede; 100%);
	vertical-align: top;
	.box-shadow(none);

    &:hover,
    &:focus,
    &:active {
        border-color: #bbb;
        background-color: #d9d9d9;
        #gradient > .vertical(#f8f8f8; 0%; #d9d9d9; 100%);
    }

    &:active {
        top: 0;
        background-color: #efefef;
        box-shadow: inset 0 3px 5px rgba(0,0,0,0.1);
    }

    // icon
	&:before {
		font-size: 15px;
        margin-right: 2px;
        top: 1px;
        color: #0089cb;
	}

}