
.comments {
    &:extend(.clearfix all, .textcenter);
    font-size: @font-size-small;
    font-style: italic;
    color: @text-color-dimmed;
    margin-top: @line-height-computed*2;
    .border-radius;

    p,
    .btn { margin-bottom: 0; }

    .btn-wrap {
        margin-top: @line-height-computed/2;
        height: 27px
    }
}