/////////////////////////////////////
// NAVIGATION
/////////////////////////////////////


// Main Navigation
/////////////////////////////////////

.nav-main {
	margin-top: 0;
    .textcenter;
    
    .row { 
        margin-top: 0;
        margin-bottom: 0;
    }
    li { display: inline-block; }
}


// Pager
/////////////////////////////////////

.pager {
	.clearfix;
    
	p { position: relative;	}
	a { display: block; }
    
	i {
		position: absolute;
		left: 0;
		top: 0;
	}
    
	.alignright { text-align: right; }
	
	.alignleft i { margin-right: .5em; }
	
	.alignright i { 
        margin-left: .5em;
		left: auto;
		right: 0;
    }
	
	.alignleft a { margin-left: 1.5em; }
	.alignright a { margin-right: 1.5em; }
	
	
}


// Infinite Loader
/////////////////////////////////////

.infiniteLoader .next {
	width: 100%;
    float: none;
}

.infiniteLoader .previous,
.infiniteLoader .pagenumber,
.infiniteLoader i {
	.hide;
}

.infiniteLoader .next a {
	.btn;
	.aligncenter;
	
	@media @breakpoint1 {
		max-width: 40%;
	}
}