---
import '../../../styles/global.css'
import '../../../styles/imports.css'
import styles from './index.module.css'
import Footer from '../../Footer'
import Header from '../../Header'

const { title, pathname } = Astro.props
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <title>Astro</title>

    <script>
      (function(d) {
        var config = {
          kitId: process.env.PUBLIC_TYPEKIT_ID,
          scriptTimeout: 3000,
          async: true
        },
        h=d.documentElement,t=setTimeout(function(){h.className=h.className.replace(/\bwf-loading\b/g,"")+" wf-inactive";},config.scriptTimeout),tk=d.createElement("script"),f=false,s=d.getElementsByTagName("script")[0],a;h.className+=" wf-loading";tk.src='https://use.typekit.net/'+config.kitId+'.js';tk.async=true;tk.onload=tk.onreadystatechange=function(){a=this.readyState;if(f||a&&a!="complete"&&a!="loaded")return;f=true;clearTimeout(t);try{Typekit.load(config)}catch(e){}};s.parentNode.insertBefore(tk,s)
      })(document);
    </script>
  </head>
  <body >
    
    <Header />

    <main class={styles.document} id="document">
      <div class={styles.content}><slot /></div>
    </main>

    <Footer />    
  </body>
</html>
