@import 'variables';

.account {
    font-size: $font-size-mini;
    color: $brand-grey-light;
    max-width: 8rem;
    margin: auto;
    margin-bottom: $spacer / 2;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    border: 1px solid $brand-grey-dimmed;
    padding: $spacer / 10 $spacer / 2 $spacer / 6 $spacer / 2;
    border-radius: $border-radius;
}

.identicon {
    border-radius: 50%;
    overflow: hidden;
    display: inline-block;
    vertical-align: middle;
    margin-right: $spacer / 4;
}
