.web3 {
  composes: container from '../../Layout.module.css';
  max-width: 20rem;
  margin-bottom: calc(var(--spacer) * 2);
  text-align: center;
  min-height: 165px;
}

.web3 > div:first-child {
  display: flex;
  justify-content: space-between;
  font-size: var(--font-size-small);
  margin-bottom: var(--spacer);
}

.message {
  font-size: var(--font-size-small);
  position: relative;
}

.message::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1s infinite;

  /* ascii code for the ellipsis character */
  content: '\2026';
  width: 0;
  position: absolute;
  left: 100%;
  bottom: 0;
}

.success {
  composes: message;
  color: green;
}

.success::after {
  display: none;
}

@keyframes ellipsis {
  to {
    width: 0.75rem;
  }
}
