@import 'variables';
@import 'mixins';

.web3 {
    @include divider;

    width: 100%;
    text-align: center;
    margin-top: $spacer / 2;
    margin-bottom: $spacer;
    padding-bottom: $spacer * 1.5;

    small {
        color: darken($alert-info, 60%);
        margin-top: -($spacer / 2);
        display: block;
    }
}

.web3Row {
    min-height: 58px;
    display: flex;
    align-items: center;
    justify-content: center;
}
