---
import { loadAndFormatCollection } from '@lib/astro'
import LayoutBase from '@layouts/Base/index.astro'
import PhotoTeaser from '@components/PhotoTeaser.astro'
import Pagination from '@components/Pagination/index.astro'
import type { GetStaticPathsOptions, Page } from 'astro'
import type { CollectionEntry } from 'astro:content'

type Props = {
  page: Page<CollectionEntry<'photos'>>
}

export async function getStaticPaths({ paginate }: GetStaticPathsOptions) {
  const photos = await loadAndFormatCollection('photos')
  return paginate(photos, { pageSize: 24 })
}

// All paginated data is passed on the "page" prop
const { page } = Astro.props
---

<style>
  .photos {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: var(--spacer);
  }

  @media (min-width: 40rem) {
    .photos {
      grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
    }
  }
</style>

<LayoutBase
  title="Photos"
  pageTitle={`Photos | Page ${page.currentPage} of ${page.lastPage} `}
>
  <div class="photos">
    {page.data.map((photo) => <PhotoTeaser {...photo} />)}
  </div>

  <Pagination
    currentPage={page.currentPage}
    numPages={page.lastPage}
    slug="/photos"
  />
</LayoutBase>
