#toast {
  position: sticky;
  z-index: 10;
  bottom: calc(var(--spacer) / 2);
  right: calc(var(--spacer) / 2);
  left: calc(var(--spacer) / 2);
  width: fit-content;
  margin: 0 auto;
  font-size: var(--font-size-small);
  padding: calc(var(--spacer) / 3) var(--spacer);
  animation: animation 0.2s ease-out backwards;
  background: var(--body-background-color);
}

#toast button {
  font-family: inherit;
  font-weight: inherit;
  font-size: inherit;
  color: inherit;
}

#toast button span {
  color: var(--link-color);
}

@keyframes animation {
  0% {
    transform: translateY(3rem);
  }
  100% {
    transform: translateY(0);
  }
}
