---
import type React from 'react'

type Props = {
  title: string
  value: string
  icon: React.FunctionComponent
}

const { title, value, icon } = Astro.props
const Icon = icon
---

<span title={title}>
  <Icon />
  {value}
</span>
