.exif {
  margin-bottom: calc(var(--spacer) * 2);
}

.data {
  font-size: var(--font-size-mini);
  color: var(--text-color-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.data span {
  display: flex;
  flex: 1 1 auto;
  align-items: center;
  flex-direction: column;
  white-space: nowrap;
  padding: var(--spacer) calc(var(--spacer) / 1.5);
  border-bottom: 1px dashed var(--border-color);
}

.data span svg {
  display: block;
  margin-bottom: calc(var(--spacer) / 8);
  opacity: 0.65;
}

@media (min-width: 40rem) {
  .data {
    font-size: var(--font-size-small);
  }

  .data span {
    border-left: 1px dashed var(--border-color);
    border-bottom: 0;
  }
}

.map {
  composes: breakout from '@/layouts/Base/index.module.css';
  composes: frame from '@/components/Picture/index.module.css';
  height: 220px;
}

.map img {
  border-radius: 0 !important;
}

.map > div:first-child {
  background: none !important;
}
