.exif {
  margin-bottom: calc(var(--spacer) * 2);
}

.data {
  font-size: var(--font-size-mini);
  color: var(--text-color-light);
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  text-align: center;
}

.data span {
  display: block;
  flex: 1 1 auto;
  white-space: nowrap;
  padding: var(--spacer) calc(var(--spacer) / 1.5);
  border-bottom: 1px dashed var(--border-color);
}

.data span svg {
  display: block;
  margin-bottom: calc(var(--spacer) / 8);
  opacity: 0.65;
}

.data span:first-child {
  flex-basis: 100%;
}

@media (min-width: 40rem) {
  .data {
    margin-bottom: 0;
    font-size: var(--font-size-small);
  }

  .data span {
    border-left: 1px dashed var(--border-color);
    border-bottom: 0;
  }

  .data span:first-child {
    flex-basis: auto;
    border-left: 0;
  }
}

.map {
  composes: breakout from '@layouts/Base/index.module.css';
  composes: frame from '@components/core/Picture.module.css';
  height: 220px;
  margin-top: calc(var(--spacer) * 2);
}

@media (min-width: 40rem) {
  .map {
    margin-top: 0;
  }
}

.map img {
  border-radius: 0 !important;
}

.map > div:first-child {
  background: none !important;
}
