.web3 {
  margin: calc(var(--spacer) / 2) auto calc(var(--spacer) / 4) auto;
  max-width: 25rem;
  width: 100%;
  text-align: center;
  min-height: 165px;
}

.rainbowkit button > div {
  padding-left: 0 !important;
}

/* hide the account icon, and hope nothing else */
.rainbowkit button [aria-hidden] {
  display: none;
}

.rainbowkit [aria-label='Chain Selector'],
.rainbowkit [data-testid='rk-account-button'] div {
  font-weight: var(--font-weight-base);
}

/* hide the network icon, and hope nothing else */
.rainbowkit [aria-label='Chain Selector'] [role='img'] {
  display: none;
}

.rainbowkit > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: var(--font-size-small);
}

/* connect button */
.rainbowkit [data-testid='rk-connect-button'] {
  margin-right: auto;
  font-family: var(--font-family-headings) !important;
  font-weight: var(--font-weight-headings) !important;
  text-transform: uppercase;
  color: var(--link-color);
  background: none;
  border: none;
  font-size: var(--font-size-small);
  padding: 0;
}

.rainbowkit [data-testid='rk-connect-button']:hover,
.rainbowkit [data-testid='rk-connect-button']:focus {
  color: var(--link-color-hover);
  background: none;
  border: none;
  transform: none;
}

.disclaimer {
  color: var(--text-color-light);
  font-size: var(--font-size-small);
  margin-top: calc(var(--spacer) / 2);
  margin-bottom: calc(var(--spacer) / 6);
}

.disclaimer code {
  background: none;
  color: var(--text-color);
  padding-left: 2px;
}

.message {
  font-size: var(--font-size-small);
  position: relative;
}

.message::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1s infinite;

  /* ascii code for the ellipsis character */
  content: '\2026';
  width: 0;
  position: absolute;
  left: 100%;
  bottom: 0;
}

.success {
  composes: message;
  color: green;
}

.success::after {
  display: none;
}

@keyframes ellipsis {
  to {
    width: 0.75rem;
  }
}
