.web3 {
  margin-left: auto;
  margin-right: auto;
  max-width: 25rem;
  width: 100%;
  text-align: center;
}

.rainbowkit button div {
  padding-left: 0 !important;
}

.rainbowkit > div:first-child {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-between;
  font-size: var(--font-size-mini);
}

/* connect button */
.rainbowkit > div:first-child > button:only-child {
  margin-left: auto;
  margin-right: auto;
}

.disclaimer {
  text-align: left;
  font-size: var(--font-size-mini);
  margin-top: calc(var(--spacer) / 3);
}

.message {
  font-size: var(--font-size-small);
  position: relative;
}

.message::after {
  overflow: hidden;
  display: inline-block;
  vertical-align: bottom;
  animation: ellipsis steps(4, end) 1s infinite;

  /* ascii code for the ellipsis character */
  content: '\2026';
  width: 0;
  position: absolute;
  left: 100%;
  bottom: 0;
}

.success {
  composes: message;
  color: green;
}

.success::after {
  display: none;
}

@keyframes ellipsis {
  to {
    width: 0.75rem;
  }
}
