/* topbar and footer as fixed
   site background
///////////////////////////////////// */

.document {
  width: 100%;
  padding: var(--space-m) var(--space-s) var(--space-2xl);
  background-color: var(--body-background-color);
  border-top: 1px solid rgba(255 255 255 / 85%);
  box-shadow:
    0 1px 10px rgba(1 85 101 / 10%),
    0 -1px 4px rgba(1 85 101 / 5%);

  /* animates the page menu opening/closing */
  transition: 0.2s ease-out;
  will-change: transform, background-color;
  transform: translate3d(0, 0, 0);
}

:global(.has-menu-open) .document {
  transform: translate3d(0, var(--space-2xl), 0);
}

[data-theme='dark'] .document {
  border-top-color: rgba(255 255 255 / 5%);
  box-shadow:
    0 1px 8px rgba(0 7 8 / 30%),
    0 -1px 4px rgba(0 21 25 / 80%);
}

@media (min-width: 40rem) and (min-height: 500px) {
  .document {
    /* height of header */
    margin-top: 94px;

    /* height of footer */
    margin-bottom: 380px;
    position: relative;
    z-index: 2;
    min-height: 45rem;
  }
}

.content {
  padding: 0;
  width: 100%;
  max-width: var(--maxWidthContent);
  margin-left: auto;
  margin-right: auto;
}

.breakout {
  margin-left: calc(-50vw + 50%);
  margin-right: calc(-50vw + 50%);
}

@media (min-width: 1024px) {
  .breakout {
    margin-left: -10rem;
    margin-right: -10rem;
  }
}

.pagetitle {
  font-size: var(--fs-3);
  color: var(--text-color-light);
  margin-top: 0;
  margin-bottom: var(--space-m);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
