.pagination {
  margin-top: var(--space-3xl);
  margin-bottom: var(--space-m);
  display: flex;
  justify-content: center;
}

.number {
  text-align: center;
  padding: var(--space-3xs) var(--space-s);
  border: 1px solid var(--text-color-dimmed);
  font-variant-numeric: lining-nums;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: var(--text-color);
}

.number:hover,
.number:focus {
  background: var(--box-background-color);
  text-decoration: none;
}

.number:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.number:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.current {
  cursor: default;
  pointer-events: none;
  color: var(--text-color-dimmed);
}
