.header {
  margin-bottom: calc(var(--spacer) / 2);
}

.title {
  margin: 0;
}

@media (min-width: 40rem) {
  h1.title {
    font-size: var(--fs-5);
  }
}

.titleLink {
  font-size: var(--fs-2);
  margin-bottom: 0;
}

.titleLink svg {
  width: var(--fs-0);
  height: var(--fs-0);
  display: inline-block;
  stroke: var(--text-color-light);
  margin-bottom: -0.1rem;
  margin-left: 0.3rem;
}

.linkurl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
  width: 100%;
  font-family: var(--font-family-base);
  font-size: var(--fs--1);
  color: var(--text-color-light);
  margin-bottom: calc(var(--spacer) / 2);
}
