@import 'variables';

.alert {
  padding: $spacer / 2;
  margin-bottom: $spacer;
  border-radius: $border-radius;
  border: 1px solid transparent;
  box-shadow: 0 3px 10px rgba($brand-grey, 0.1), inset 0 1px 0 #fff;

  @media (min-width: $screen-sm) {
    padding: $spacer;
  }

  .dark & {
    box-shadow: 0 3px 10px rgba(black, 0.2),
      inset 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  > p,
  > ul {
    margin-bottom: 0;
  }

  > p + p {
    margin-top: $spacer;
  }
}

.alert-success {
  color: darken($alert-success, 60%);
  background: $alert-success;
  border-color: darken($alert-success, 10%);
}

.alert-danger,
.alert-error {
  color: darken($alert-error, 60%);
  background: $alert-error;
  border-color: darken($alert-error, 10%);
}

.alert-info {
  color: darken($alert-info, 60%);
  background: $alert-info;
  border-color: darken($alert-info, 10%);

  .dark & {
    color: darken($alert-info, 40%);
    background: darken($alert-info, 85%);
    border-color: darken($alert-info, 90%);
  }
}
