@import 'variables';

code,
kbd,
pre,
samp {
    font-family: $font-family-monospace;
    font-size: $font-size-small;
}

code,
kbd {
    padding: .1rem;
}

code,
samp {
    white-space: normal;
    background: #444;
    color: inherit;
    background-color: rgba($code-bg, .05);
    border-radius: $border-radius;
}

kbd {
    color: $kbd-color;
    background-color: $kbd-bg;
    border-radius: $border-radius;
    border: 1px solid $kbd-bg;
    box-shadow: inset 0 1px 0 rgba(#fff, .4);
    padding: .15rem .4rem;
}

pre {
    display: block;
    padding: 0;
    margin-bottom: $spacer;
    line-height: $line-height;
    color: $code-color;
    background-color: $code-bg;
    border-radius: $border-radius;

    // make 'em scrollable
    overflow: auto;
    -webkit-overflow-scrolling: touch;
    max-height: 300px;

    @media (min-width: $screen-sm) {
        max-height: 80vh;
        margin-left: -($spacer);
        margin-right: -($spacer);
    }

    code {
        font-size: .8rem;
        padding: 0 $spacer / 2;
        white-space: pre;
        display: block;
        color: inherit;
        overflow-wrap: normal;
        word-wrap: normal;
        word-break: normal;
        overflow: auto;

        @media (min-width: $screen-sm) {
            padding-left: $spacer;
            padding-right: $spacer;

            &:first-child {
                padding-top: $spacer;
            }

            &:last-child {
                padding-bottom: $spacer;
            }
        }
    }
}

pre[data-language='bash'] .vscode-highlight-line:only-child {
    padding-left: .5rem;
    display: block;

    &::before {
        content: '$';
        opacity: .5;
        display: inline-block;
        margin-left: -.5rem;
        margin-right: .5rem;
    }
}
