.markdown {
  a {
    text-decoration: underline;
    text-underline-offset: 0.25em;
    text-decoration-color: var(--link-underline-color);
  }

  a:hover,
  a:focus {
    color: var(--link-color-hover);
    text-decoration-color: var(--link-color-hover);
  }

  img {
    border-radius: var(--border-radius);
  }

  /* Lists
  ///////////////////////////////////// */

  ul,
  ol {
    margin-top: 0;
    margin-bottom: var(--space-m);
    padding-left: var(--space-m);
    list-style: none;
  }

  li {
    position: relative;
    margin-bottom: var(--space-2xs);
  }

  li::before {
    position: absolute;
    left: -2rem;
    top: -1px;
    color: var(--text-color-light);
    user-select: none;
  }

  ul li::before {
    /* horizontal bar: ― &#8213; */
    content: ' \2015';
  }

  ol {
    counter-reset: ol-counter;
  }

  ol li::before {
    content: counter(ol-counter) '.';
    counter-increment: ol-counter;
  }

  /* Blockquotes
  ///////////////////////////////////// */

  blockquote,
  blockquote > p {
    font-style: italic;
    color: var(--text-color);
  }

  blockquote {
    margin: var(--space-l) 0;
    position: relative;
    padding-left: var(--space-l);
    padding-right: var(--space-l);
  }

  /* quotation mark */
  blockquote::before {
    content: '“';
    font-size: 450%;
    color: var(--text-color-light);
    position: absolute;
    left: 0;
    top: var(--space-2xs);
  }

  hr {
    position: relative;
    border-bottom: var(--border-width) dashed var(--border-color);
    margin-top: var(--space-l);
    margin-bottom: var(--space-l);
    overflow: visible;
  }

  hr::before {
    content: '';
    position: absolute;
    left: 0;
    height: var(--border-width);
    top: var(--border-width);
    width: 100%;
    border-bottom: var(--border-width) dashed #f7f7f7;
  }

  [data-theme='dark'] & hr::before {
    border-bottom-color: var(--brand-grey);
  }
}
