@import 'nord/src/sass/nord';

/* Code blocks */
pre[class*='language-'] {
    background: $nord0;
    color: $nord4;
}

pre[class*='language-'],
code[class*='language-'] {
    ::-moz-selection,
    ::selection {
        background: $nord4;
    }
}

/* Inline code */
:not(pre) > code[class*='language-'] {
    padding: .1em;
    border-radius: .3em;
    white-space: normal;
    background: $nord4;
    color: inherit;
}

.token.comment,
.token.prolog,
.token.doctype,
.token.cdata {
    color: $nord3;
}

.token.punctuation {
    color: $nord9;
}

.namespace {
    opacity: .7;
}

.token.property,
.token.tag,
.token.boolean,
.token.number,
.token.constant,
.token.symbol,
.token.deleted {
    color: $nord9;
}

.token.selector,
.token.attr-name,
.token.string,
.token.char,
.token.builtin,
.token.inserted {
    color: $nord7;
}

.token.operator,
.token.entity,
.token.url,
.language-css .token.string,
.style .token.string {
    color: $nord7;
}

.token.atrule,
.token.attr-value,
.token.keyword {
    color: $nord14;
}

.token.function,
.token.class-name {
    color: $nord12;
}

.token.regex,
.token.important,
.token.variable {
    color: $nord13;
}

.token.important,
.token.bold {
    font-weight: bold;
}

.token.italic {
    font-style: italic;
}

.token.entity {
    cursor: help;
}
