:root {
  --maxWidthContent: 700px;

  /* Colors
  ///////////////////////////////////// */

  --brand-main: #015565;
  --brand-cyan: rgb(67 166 153);
  --brand-main-light: #88bec8;
  --brand-light: #e7eef4;

  --brand-grey: #4e5d63;
  --brand-grey-dark: #323c41;
  --brand-grey-light: #7f97a1;
  --brand-grey-dimmed: #c3d8e0;

  --alert-info: rgb(248 241 227);
  --alert-success: #dff0d8;
  --alert-error: #f2dede;

  /* Backgrounds
  ///////////////////////////////////// */

  --body-background-color: var(--brand-light);
  --box-background-color: #f1f5f8;

  --box-shadow:
    0 1.3px 5.4px rgba(1 85 101 / 15%), 0 4.5px 18.1px rgba(1 85 101 / 5%), 0
    20px 81px rgba(1 85 101 / 2.5%);

  /* Text Colors
  ///////////////////////////////////// */

  --text-color: var(--brand-grey);
  --text-color-light: var(--brand-grey-light);
  --text-color-dimmed: var(--brand-grey-dimmed);
  --color-headings: var(--brand-main);

  --link-color: var(--brand-cyan);
  --link-color-hover: #4ab8a9;
  --link-underline-color: rgba(67 166 153 / 35%);

  --border-color: var(--brand-grey-dimmed);

  /* Base Typography
  ///////////////////////////////////// */

  /* @link https://utopia.fyi/type/calculator?c=320,18,1.25,700,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --fs--2: clamp(0.72rem, 0.6526rem + 0.3368vw, 0.8rem);
  --fs--1: clamp(0.9rem, 0.8158rem + 0.4211vw, 1rem);
  --fs-0: clamp(1.125rem, 1.0197rem + 0.5263vw, 1.25rem);
  --fs-1: clamp(1.4063rem, 1.2747rem + 0.6579vw, 1.5625rem);
  --fs-2: clamp(1.7578rem, 1.5933rem + 0.8224vw, 1.9531rem);
  --fs-3: clamp(2.1973rem, 1.9917rem + 1.028vw, 2.4414rem);
  --fs-4: clamp(2.7466rem, 2.4896rem + 1.285vw, 3.0518rem);
  --fs-5: clamp(3.4332rem, 3.112rem + 1.6062vw, 3.8147rem);

  --font-family-base:
    'ff-tisa-sans-web-pro', 'Trebuchet MS', 'Helvetica Neue', 'Helvetica',
    'Arial', 'sans-serif';
  --font-weight-base: 400;
  --font-weight-bold: 600;

  --font-family-monospace:
    'SF Mono', sfmono-regular, ui-monospace, 'DejaVu Sans Mono', menlo, consolas,
    monospace;

  /* Headings
  ///////////////////////////////////// */

  --font-family-headings:
    'brandon-grotesque', 'Avenir Next', 'Helvetica Neue', 'Helvetica', 'Arial',
    'sans-serif';
  --font-weight-headings: 700;

  /* Spacing
  ///////////////////////////////////// */

  /* @link https://utopia.fyi/space/calculator?c=320,18,1.25,700,20,1.25,5,2,&s=0.75|0.5|0.25,1.5|2|3|4|6,s-l&g=s,l,xl,12 */
  --space-3xs: clamp(0.3125rem, 0.3125rem + 0vw, 0.3125rem);
  --space-2xs: clamp(0.5625rem, 0.5099rem + 0.2632vw, 0.625rem);
  --space-xs: clamp(0.875rem, 0.8224rem + 0.2632vw, 0.9375rem);
  --space-s: clamp(1.125rem, 1.0197rem + 0.5263vw, 1.25rem);
  --space-m: clamp(1.6875rem, 1.5296rem + 0.7895vw, 1.875rem);
  --space-l: clamp(2.25rem, 2.0395rem + 1.0526vw, 2.5rem);
  --space-xl: clamp(3.375rem, 3.0592rem + 1.5789vw, 3.75rem);
  --space-2xl: clamp(4.5rem, 4.0789rem + 2.1053vw, 5rem);
  --space-3xl: clamp(6.75rem, 6.1184rem + 3.1579vw, 7.5rem);

  /* Border
  ///////////////////////////////////// */

  --border-radius: var(--space-2xs);
  --border-width: 0.125rem;

  /* Code
  ///////////////////////////////////// */

  --code-color: var(--brand-grey-light);
  --kbd-color: var(--code-color);

  /* Responsive breakpoints
  ///////////////////////////////////// */

  --screen-xs: 30rem;
  --screen-sm: 40rem;
  --screen-md: 60rem;
  --screen-lg: 87.5rem;

  /* Forms
  ///////////////////////////////////// */

  --input-bg: var(--body-background-color);
  --input-bg-disabled: var(--brand-grey-light);

  --input-font-size: var(--fs-0);
  --input-font-weight: var(--font-weight-base);

  --input-color: var(--text-color);
  --input-color-placeholder: var(--text-color-light);

  --input-border: var(--border-color);
  --input-border-focus: var(--link-color);
}

[data-theme='dark'] {
  --body-background-color: #161a1b;
  --box-background-color: #1e2122;

  --box-shadow:
    0 1.3px 5.4px rgba(0 7 8 / 50%), 0 4.5px 18.1px rgba(0 7 8 / 30%), 0 20px
    81px rgba(0 7 8 / 10%);

  --text-color: var(--brand-grey-light);
  --text-color-light: var(--brand-grey);
  --text-color-dimmed: var(--brand-grey-dark);
  --border-color: #253034;
  --color-headings: var(--brand-main-light);

  --input-bg: var(--body-background-color);
  --input-color: var(--text-color);
}

/* stylelint-enable custom-property-empty-line-before */
