.inputGroup {
  margin: auto;
  position: relative;
  animation: fadeIn 0.8s ease-out backwards;
  margin-top: calc(var(--spacer) / 3);
  display: flex;
  min-height: 54px;
}

.token {
  width: 80px;
  background: var(--box-background-color);
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
  border: 1px solid var(--border-color);
  margin-right: -1px;
}

.inputInput {
  text-align: center;
  border: 1px solid var(--border-color);
  font-size: var(--font-size-large);
  padding: calc(var(--spacer) / 4);
  border-bottom: 0;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}

@media (min-width: 40rem) {
  .inputInput {
    border-radius: 0;
    border-bottom: 1px solid var(--border-color);
    border-right: 0;
  }
}

.inputInput::-webkit-inner-spin-button {
  margin-left: -1rem;
}

:global([data-theme='dark']) .inputInput {
  border-color: var(--border-color);
}

.submit {
  width: 100%;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
  border-color: var(--link-color);
}

@media (min-width: 40rem) {
  .submit {
    width: fit-content;
    border-top-right-radius: var(--border-radius);
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    border-left: 0;
  }
}

@keyframes fadeIn {
  from {
    opacity: 0.01;
  }

  to {
    opacity: 1;
  }
}
