.success {
  text-align: center;
  margin-top: var(--spacer);
}

.title {
  font-size: var(--font-size-h3);
}

.actions {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.actions button {
  width: 115px;
  height: 45px;
  padding: 0;
}
