@import 'variables';
@import 'mixins';

.posts {
  display: grid;
  gap: $spacer * 2;

  @media (min-width: $screen-sm) {
    @include breakoutviewport;

    grid-template-columns: repeat(2, 1fr);
  }
}

.posts h1 {
  font-size: $font-size-h4;
}
