.pagetitle {
  font-size: var(--font-size-h3);
  margin-top: 0;
  margin-bottom: var(--spacer);
  color: var(--text-color-light);
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}
