@import 'variables';
@import 'mixins';

.actions {
  @include breakoutviewport;

  margin-top: $spacer * 2;
  margin-bottom: $spacer * 2;
  background: rgba(#fff, 0.5);
  padding-top: $spacer;
  padding-bottom: $spacer;
  border-radius: $border-radius;
  display: grid;
  gap: $spacer / 2;

  @media (min-width: $screen-sm) {
    grid-template-columns: repeat(3, 1fr);
  }

  :global(.dark) & {
    background: darken($body-background-color--dark, 2%);
  }
}

.link {
  transition: 0.2s ease-out;
  color: $link-color;
}

.actionTitle {
  font-size: $font-size-base;
  color: $text-color;
  margin-top: 0;
  margin-bottom: $spacer / 4;
  transition: color 0.2s ease-out;
}

.actionText {
  font-size: $font-size-small;
  color: $brand-grey-light;
  margin-bottom: 0;
  transition: color 0.2s ease-out;
}

.action {
  display: block;
  margin: 0;
  padding-top: $spacer;
  padding-bottom: $spacer;
  padding-left: $spacer * 2;
  padding-right: $spacer / 2;
  position: relative;
  text-align: left;
  border-bottom: 1px dashed rgba($brand-grey-light, 0.3);

  &:last-child {
    border-bottom: 0;
  }

  @media (min-width: $screen-sm) {
    border-bottom: 0;
    border-left: 1px dashed rgba($brand-grey-light, 0.3);

    &:first-child {
      border-left: 0;
    }
  }

  &:hover,
  &:focus {
    cursor: pointer;

    .link,
    .actionTitle,
    .actionText {
      color: $link-color-hover;
    }
  }

  &:active {
    .link,
    .actionTitle,
    .actionText {
      transition: none;
      color: $link-color-active;
    }
  }

  svg {
    width: 20px;
    height: 20px;
    position: absolute;
    left: $spacer;
    top: $spacer / 1.05;
    stroke: $brand-grey-light;
  }
}
