.content hr {
  /* composes: divider from '../../atoms/Divider.module.css'; */

  margin-top: calc(var(--spacer) * var(--line-height));
  margin-bottom: calc(var(--spacer) * var(--line-height));
  border-bottom: 1px dashed var(--border-color);
}

.content img {
  border-radius: var(--border-radius);
}
