.prevnext {
  composes: container from '../../atoms/Container.module.css';
  margin-top: calc(var(--spacer) * 2);
  padding-top: calc(var(--spacer) * 2);
  display: grid;
  gap: var(--spacer);
  grid-template-columns: 1fr 1fr;
}

.prevnext svg {
  stroke: var(--text-color-light);
  margin-top: -0.05rem;
  position: absolute;
  left: 0.1rem;
  top: calc(var(--spacer) * 1.1);
}

.prevnext > div {
  position: relative;
}

.prevnext > div:first-child {
  padding-left: var(--spacer);
}

.prevnext > div:last-child {
  padding-right: var(--spacer);
  text-align: right;
}

.prevnext > div:last-child svg {
  right: 0.1rem;
  left: auto;
}

.title {
  font-size: var(--font-size-large);
  margin: 0;
  color: var(--brand-grey-light) !important;
}

a:hover .title {
  color: var(--link-color) !important;
}

.label {
  margin-bottom: calc(var(--spacer) / 4);
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  opacity: 0.65;
}
