.title {
  margin-top: 0;
  margin-bottom: calc(var(--spacer) / 8);
}

.title__link {
  font-size: var(--font-size-h3);
}

.title__link svg {
  width: var(--font-size-base);
  height: var(--font-size-base);
  display: inline-block;
  stroke: var(--text-color-light);
  margin-bottom: -0.1rem;
}

.linkurl {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;

  width: 100%;
  color: var(--text-color);
  font-family: var(--font-family-base);
  font-size: var(--font-size-small);
  padding: calc(var(--spacer) / 4) 0;
  margin-top: -2rem;
  margin-bottom: var(--spacer);
}
