@import 'variables';
@import 'mixins';

// Post Title
/////////////////////////////////////

.hentry__title {
  margin-top: 0;
  margin-bottom: $spacer / $line-height;
}

.hentry__title__link {
  font-size: $font-size-h3;

  svg {
    width: $font-size-base;
    height: $font-size-base;
    display: inline-block;
    stroke: $text-color-light;
    margin-bottom: -0.1rem;
  }
}

.linkurl {
  @include ellipsis();

  width: 100%;
  color: $text-color;
  font-family: $font-family-base;
  font-size: $font-size-small;
  padding: ($spacer/4) 0;
  margin-top: -($spacer);
  margin-bottom: $spacer;
}

.time {
  font-style: italic;
  font-size: $font-size-small;
  color: $text-color-light;
  margin-bottom: $spacer / $line-height;
}
