---

---

<ul>
  {
    posts.map((post) => (
      <li>
        <a href={`/${post.slug}/`}>
          <img width={720} height={360} src={post.data.image} alt="" />
          <h4 class="title">{post.data.title}</h4>
          <p class="date">{post.data.date}</p>
        </a>
      </li>
    ))
  }
</ul>
