@import 'variables';
@import 'mixins';

.image {
    @include breakoutviewport;

    max-width: none;
}

.goodie {
    margin-bottom: $spacer * 4;

    a {
        display: block;
    }
}

.title {
    font-size: $font-size-h3;
    color: $brand-grey;
    margin-top: 0;
    margin-bottom: $spacer;
}
