@import 'variables';
@import 'mixins';

// Post/photo teaser
/////////////////////////////////////

.hentry__image {
    @include breakoutviewport();

    max-width: none;
    display: block;
    margin-top: $spacer * 1.5;
    margin-bottom: $spacer * 1.5;

    > div {
        @include media-frame();

        border-radius: 0;

        @media (min-width: $screen-sm) {
            border-radius: $border-radius;
        }
    }

    img {
        border-radius: 0;
    }
}
