@import 'variables';
@import 'mixins';

.section {
  @media (min-width: $screen-md) {
    @include breakoutviewport;
  }
}

.section:not(:first-child) {
  margin-top: $spacer * 3;
}

.articles,
.photos {
  display: grid;
  gap: $spacer;
}

.articles {
  @media (min-width: $screen-sm) {
    gap: $spacer * 1.5;
    grid-template-columns: repeat(2, 1fr);
  }
}

.articles:first-of-type h1 {
  font-size: $font-size-h4;
}

.articlesLast {
  margin-top: $spacer * 1.5;

  @media (min-width: $screen-sm) {
    gap: $spacer * 1.5;
    grid-template-columns: repeat(3, 1fr);
  }
}

.photos {
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $screen-sm) {
    gap: $spacer * 1.5;
    grid-template-columns: repeat(auto-fill, minmax(160px, 1fr));
  }
}
