---
import LayoutBase from '@components/layouts/Base/index.astro'
import PostTeaser from '@components/PostTeaser.astro'
import { loadAndFormatCollection } from '@lib/astro'
import PhotoTeaser from '@components/PhotoTeaser.astro'
import type { CollectionEntry } from 'astro:content'

const articles = await loadAndFormatCollection('articles')
const links = await loadAndFormatCollection('links')
const photos = await loadAndFormatCollection('photos')
---

<style>
  /* .section {
    composes: wide from '../components/Layout.module.css';
  } */

  .section:not(:first-child) {
    margin-top: calc(var(--spacer) * 3);
  }

  .articles,
  .photos {
    display: grid;
    gap: var(--spacer);
  }

  @media (min-width: 40rem) {
    .articles {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .articles:first-of-type h1 {
    font-size: var(--font-size-h3);
  }

  .articlesLast {
    margin-top: calc(var(--spacer) * 1.5);
  }

  @media (min-width: 40rem) {
    .articlesLast {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .photos {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 40rem) {
    .photos {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
</style>

<LayoutBase>
  <section class="section">
    <div class="articles">
      {
        articles
          .slice(0, 2)
          .map((article) => (
            <PostTeaser slug={article.slug} hideDate {...article.data} />
          ))
      }
    </div>
    <div class="articles articlesLast">
      {
        articles
          .slice(2, 8)
          .map((article) => (
            <PostTeaser slug={article.slug} hideDate {...article.data} />
          ))
      }
    </div>

    <a href="/archive/1">All Articles</a>
  </section>

  <section class="section">
    <div class="photos">
      {
        photos
          .slice(0, 8)
          .map((photo) => (
            <PhotoTeaser {...(photo as CollectionEntry<'photos'>)} />
          ))
      }
    </div>

    <a href="/photos/1">All Photos</a>
  </section>
</LayoutBase>
