---
import LayoutBase from '@layouts/Base/index.astro'
import PostTeaser from '@components/PostTeaser/index.astro'
import { loadAndFormatCollection } from '@lib/astro'
import PhotoTeaser from '@components/PhotoTeaser.astro'
import type { CollectionEntry } from 'astro:content'
import More from '@components/More.astro'

const articles = (await loadAndFormatCollection(
  'articles'
)) as CollectionEntry<'articles'>[]
// const links = await loadAndFormatCollection('links')
const photos = (await loadAndFormatCollection(
  'photos'
)) as CollectionEntry<'photos'>[]
---

<style>
  .section:not(:first-child) {
    margin-top: calc(var(--spacer) * 3);
  }

  .sectionTitle {
    margin-top: 0;
    color: var(--text-color-light);
  }

  .articles,
  .photos {
    display: grid;
    gap: var(--spacer);
  }

  @media (min-width: 40rem) {
    .articles {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(2, 1fr);
    }
  }

  .articles:first-of-type :global(h1) {
    font-size: var(--font-size-h3);
  }

  .articlesLast {
    margin-top: calc(var(--spacer) * 1.5);
  }

  @media (min-width: 40rem) {
    .articlesLast {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(3, 1fr);
    }
  }

  .photos {
    grid-template-columns: repeat(2, 1fr);
  }

  @media (min-width: 40rem) {
    .photos {
      gap: calc(var(--spacer) * 1.5);
      grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    }
  }
</style>

<LayoutBase>
  <section class="section">
    <h2 class="sectionTitle">Articles</h2>
    <div class="articles">
      {
        articles
          .slice(0, 2)
          .map((article) => <PostTeaser post={article} hideDate />)
      }
    </div>
    <div class="articles articlesLast">
      {
        articles
          .slice(2, 11)
          .map((article) => <PostTeaser post={article} hideDate />)
      }
    </div>

    <More href="/archive/1">All Articles</More>
  </section>

  <section class="section">
    <h2 class="sectionTitle">Photos</h2>
    <div class="photos">
      {photos.slice(0, 12).map((photo) => <PhotoTeaser post={photo} />)}
    </div>

    <More href="/photos/1">All Photos</More>
  </section>
</LayoutBase>
