@import 'variables';
@import 'mixins';

.photos {
  @include breakoutviewport--full;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: $spacer;
  padding-left: $spacer;
  padding-right: $spacer;

  @media (min-width: $screen-sm) {
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  }
}

.photo {
  a {
    display: block;
  }

  figure {
    margin: 0;

    > div {
      margin: 0;
    }
  }

  figcaption {
    font-size: $font-size-base;
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
  }
}
