@import 'variables';

.tags {
  list-style: none;
  padding: 0;
  text-align: center;

  li {
    display: inline-block;
    margin-top: $spacer / 4;
    margin-bottom: $spacer / 4;

    &::before {
      display: none;
    }
  }
}
