.actions {
  composes: breakout from '@/layouts/Base/index.module.css';
  margin-top: calc(var(--spacer) * 2);
  margin-bottom: calc(var(--spacer) * 2);
  background: var(--box-background-color);
  padding: calc(var(--spacer) * 2) var(--spacer);
  border-radius: var(--border-radius);
  border: var(--border-width) solid var(--border-color);
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  gap: var(--spacer);
}
