@import 'variables';

.postLinkActions {
  display: flex;
  justify-content: space-between;
  margin-top: $spacer * 2;

  a {
    margin: 0;

    svg {
      width: 1em;
      height: 1em;
      display: inline-block;
      stroke: $text-color-light;
      margin-left: $spacer / 8;
      position: relative;
      top: 0.1rem;
    }

    &:last-child {
      svg {
        width: $font-size-base;
        height: $font-size-base;
        stroke: $brand-cyan;
      }
    }
  }
}
