@import 'variables';

.postMore {
  display: inline-block;
  font-family: $font-family-headings;
  font-weight: $font-weight-headings;
  font-size: $font-size-base * 0.9;
  color: $link-color;
  text-transform: uppercase;
  margin-top: $spacer;

  svg {
    display: inline-block;
    margin: 0;
    top: 0.25rem;
    position: relative;
    stroke: $text-color-light;
    transition: 0.2s ease-out;
    width: 20px;
    height: 20px;
  }

  &:hover,
  &:focus {
    svg {
      transform: translate3d(0.2rem, 0, 0);
    }
  }
}
