@import 'variables';
@import 'mixins';

.prevnext {
  @include breakoutviewport;
  @include divider-top;

  margin-top: $spacer * 4;
  padding-top: $spacer * 2;
  display: grid;
  gap: $spacer;
  grid-template-columns: 1fr 1fr;

  svg {
    stroke: $brand-grey-light;
    margin-top: -0.05rem;
    position: absolute;
    left: 0.1rem;
    top: $spacer * 1.1;
  }

  > div {
    position: relative;

    &:first-child {
      padding-left: $spacer;
    }

    &:last-child {
      padding-right: $spacer;
      text-align: right;

      svg {
        right: 0.1rem;
        left: auto;
      }
    }
  }
}

.title {
  font-size: $font-size-large;
  margin: 0;
  color: $brand-grey-light !important;

  a:hover & {
    color: $link-color !important;
  }
}

.label {
  margin-bottom: $spacer / 4;
  font-size: $font-size-small;
  color: $brand-grey-light;
  opacity: 0.65;
}
