//
// kremalicious3
// --------------
// Page - About
//

.page-about
    .entry-title
        @extend .visuallyhidden

    .entry-content
        @extend .textcenter

        img
            @extend .avatar

        p:first-child,
        p:first-child + p
            @extend .divider-bottom
            color: $text-color-light

            @media $breakpoint2
                max-width: 60%
                margin-left: auto
                margin-right: auto

        p:first-child
            @extend .h3

            + p
                font-size: $font-size-large

    .site__footer
        .avatar,
        .footer-description
            @extend .hide

        .subscribe-title
            margin-top: 0

    @media only screen and (min-width: 40.625em) and (min-height: 650px)
        .site__document
            margin-bottom: 350px

        .site__footer
            height: 350px
