//
// kremalicious3
// --------------
// Comments
//

.comments
    @extend .textcenter
    font-size: $font-size-small
    font-style: italic
    color: $text-color-dimmed

    p
        margin-bottom: ($spacer/2)

    .btn-wrap
        height: 27px
