//
// kremalicious3
// --------------
// Content - Related Posts
//

.related-posts
    .grid
        margin-top: 0

.related-posts-title
    @extend .heading-band, .h3
    margin-bottom: $line-height-computed

.related-post

    .post-title
        @extend .h5
        margin: 0

    .post-title,
    .post-title-link
        @extend .transition
        color: $brand-grey-light

        &:hover,
        &:focus
            color: $link-color

        &:active
            color: #fff
            transition: none

    .post-title-link
        display: block

//
// Related Photos
//
.related-photos
    @extend .divider-top
    margin-top: $line-height-computed
    padding-top: $line-height-computed

    .photo-link
        display: block
        border: 2px solid transparent

        &:hover,
        &:focus
            border-color: $link-color-hover
            border-radius: $border-radius-base
