//
// kremalicious3
// --------------
// Content - Featured Posts
//

.featured
    @extend .divider-bottom
    padding-top: $line-height-computed
    padding-bottom: $line-height-computed

    @media $breakpoint2
        padding-top: ($line-height-computed*2)
        padding-bottom: ($line-height-computed*2)

.featured-link
    display: block
    margin-bottom: $line-height-computed
    transition-property: none

    @media $breakpoint2
        margin-bottom: 0

        &:hover
            transform: scale(1.03)

.featured-title
    @extend .visuallyhidden

.featured-image
    display: block
    margin-bottom: 0
    box-shadow: 0 1px 3px rgba(0,0,0,.2)
