//
// kremalicious3
// --------------
//
//


// Normalize all the things
@import '../../../node_modules/normalize-css/normalize.css'
@import '../../../node_modules/normalize-opentype.css/normalize-opentype.css'

// Core variables and mixins
@import '_kremalicious/variables'
@import '_kremalicious/mixins'

// Core CSS
@import '_kremalicious/typography'
@import '_kremalicious/grid'
@import '_kremalicious/layout'
@import '_kremalicious/forms'
@import '_kremalicious/buttons'
@import '_kremalicious/icons'
@import '_kremalicious/media'
@import '_kremalicious/tables'
@import '_kremalicious/code'
@import '_kremalicious/syntax'
@import '_kremalicious/alerts'
@import '_kremalicious/animations'
@import '_kremalicious/vex'

// Content
@import '_kremalicious/content'
@import '_kremalicious/content-photo'
@import '_kremalicious/content-link'
@import '_kremalicious/content-featured'
@import '_kremalicious/content-related'

// Components
@import '_kremalicious/header'
@import '_kremalicious/navigation'
@import '_kremalicious/hamburger'
@import '_kremalicious/search'
@import '_kremalicious/tooltips'
@import '_kremalicious/footer'
@import '_kremalicious/actions'
@import '_kremalicious/tagcloud'

// Pages
@import '_page-about'
@import '_page-404'
@import '_page-styleguide'


// Print
@import '_kremalicious/print'
