//
// kremalicious3
// --------------
// Scaffolding
//


// Body
/////////////////////////////////////
body
    background: $body-bg


// Reset fonts for relevant elements
/////////////////////////////////////

input,
button,
select,
textarea
    font-family: inherit
    font-size: inherit
    line-height: inherit
