//
// kremalicious3
// --------------
// Scaffolding
//


// Body reset
/////////////////////////////////////

html
    font-size: 62.5%
    -webkit-tap-highlight-color: alpha($link-color, .2)

body
    background: $body-bg


// Reset fonts for relevant elements
/////////////////////////////////////

input,
button,
select,
textarea
    font-family: inherit
    font-size: inherit
    line-height: inherit
