//
// kremalicious3
// --------------
// Search
//

.has-search-open
    overflow: hidden

    .site__content
        @extend .transition
        filter: blur(10px) opacity(0.3)
        user-select: none
        pointer-events: none

.search-btn
    right: 50px
    padding: .65em .85em

.site-search
    margin-right: 4%

.search-close
    position: absolute
    right: 14px

    &,
    &:active
        top: 8%

.search-area
    @extend .transition
    position: absolute
    width: 100%
    left: 0
    top: -7px
    z-index: 3

    // hidden by default
    display: none

    &.is-ready
        display: block


.search-popover
    position: absolute
    left: 0
    top: ($spacer*2.4)
    bottom: 0
    z-index: 6
    width: 100%
    max-height: 90vh
    padding: ($spacer / 2) 0
    overflow: auto
    -webkit-overflow-scrolling: touch

    @media $breakpoint2
        top: ($spacer * 3)

.search-results
    padding-bottom: $spacer

.search-link
    @extend .h4
    line-height: $line-height-small
    margin: 0
    padding: ($spacer / 2)
    display: block
    border-bottom: 1px solid alpha($brand-grey-light, .2)
    box-shadow: 0 1px 0 alpha(#fff,.2)

    &:hover
        background: $link-color
        color: #fff
