//
// kremalicious3
// --------------
// Search
//

&.search-open-blur
    transition: .2s ease-out
    filter: blur(10px)
    user-select: none
    pointer-events: none

.search-btn
    right: 50px
    padding: .65em .85em

.site-search
    margin-right: 4%

.search-close
    position: absolute
    right: 16px

    &,
    &:active
        top: 50%
        margin-top: -7px

.search-area
    @extend .transition
    position: absolute
    width: 100%
    left: 0
    top: 0
    z-index: 3

    // hidden by default
    display: none

    &.ready
        display: block


.search-popover
    position: absolute
    left: 0
    top: 80px
    z-index: 6
    width: 100%
    padding-top: ($line-height-computed/2)
    background: lighten($page-bg, 3%)
    border-bottom: 1px solid rgba(255,255,255,.7)
    box-shadow: 0 1px 4px alpha($brand-dark, .1)

    @media only screen and (min-width: 40.625em) and (min-height: 650px)
        top: 0


.search-results
    @extend .list-unstyled
    display: flex

    .grid__col
        padding-top: 0

    @media $breakpoint2
        margin-top: ($line-height-computed/2)
        margin-bottom: ($line-height-computed/2)

    > li
        padding: 0
        margin: 0


.search-link
    @extend .h6
    margin: 0
    padding: 15px
    display: block
    width: 100%

    .search-results > li:nth-child(9) &,
    .search-results > li:last-child &
        border: none
        &:before
            display: none
