//
// kremalicious3
// --------------
// Alerts
//

.alert
    padding: $padding-base-vertical $padding-base-horizontal
    margin-bottom: $line-height-computed
    border-radius: $border-radius-base
    font-size: $font-size-small
    border: 1px solid transparent

    // alignment and spacing of inner content
    > p,
    > ul
        margin-bottom: 0
    > p + p
        margin-top: 5px

.alert-success
    color: #468847
    background: #dff0d8
    border-color: #b5c6a8

.alert-danger,
.alert-error
    color: #b94a48
    background: #f2dede
    border-color: #dcc5ca

.alert-info
    color: #3a87ad
    background: #d9edf7
    border-color: #a6ced8