//
// kremalicious3
// --------------
// Comments
//

.comments
    @extend .clearfix, .textcenter
    font-size: $font-size-small
    font-style: italic
    color: $text-color-dimmed
    margin-top: $line-height-computed*2
    border-radius: $border-radius-base

    p
        margin-bottom: ($line-height-computed/2)

    .btn-wrap
        height: 27px