//
// kremalicious3
// --------------
// Footer
//

.footer
    @extend .textcenter
    border-top: 1px solid rgba(255,255,255,.7)
    box-shadow: inset 0 1px 4px rgba($brand-dark, .2)

    .gravatar
        margin-bottom: ($line-height-computed/2)

    &,
    .footer-description
        color: $text-color-light
        line-height: $line-height-computed

.footer-description
    @extend .h5
    a
        display: block

.footer-copyright
    @extend .divider-top
    padding-top: $line-height-computed
    padding-bottom: $line-height-computed

    p
        margin-bottom: 0
        font-size: $font-size-mini

    .icon:before
        font-size: inherit
        margin-right: .2em
        line-height: inherit

// Subscribe component
.subscribe
    margin: $line-height-computed auto
    p
        @extend .clearfix, .textcenter
        margin: 0

    .btn
        @extend .textcenter
        width: 48px
        padding: $padding-small-vertical
        margin: 0
        display: inline-block
        color: $text-color-light

        &:first-child
            margin-left: 0

        &:last-child
            margin-right: 0

        &:before
            // Icon resets for color animations
            transition: color .3s ease-in-out
            color: inherit
            margin: 0 !important

.subscribe-title
    @extend .h5
    color: $text-color-dimmed
    margin-bottom: ($line-height-computed/2)

.footer:hover .subscribe .rss:before
    color: #e15a00
.footer:hover .subscribe .twitter:before
    color: #019ad2
.footer:hover .subscribe .google:before
    color: #c63b1e
.footer:hover .subscribe .facebook:before
    color: #3b5998