//
// kremalicious3
// --------------
//
//


// Normalize all the things
@import 'bower_components/normalize-css/normalize.css'

// Core variables and mixins
@import 'variables'
@import 'mixins'

// grid
@import 'grid'

// Typography
@import 'typography'

// Scaffolding
@import 'scaffolding'

// Icons
@import 'icons'

// Forms & Buttons
@import 'forms'
@import 'buttons'

// Media: images, video etc.
@import 'media'

// Tables
@import 'tables'

// Code
@import 'code'
@import 'syntax'

// Alerts
@import 'alerts'

// Content
@import 'content'
@import 'content-photo.less'
@import 'content-link.less'
@import 'content-related.less'
@import 'comments.less'
@import 'sticky.less'

@import 'page-about.less'
@import 'page-404.less'

// Navigation
@import 'navigation.less'

// Animations
@import 'animations.less'

// Print
@import 'print.less'