//
// kremalicious3
// --------------
// Media
//


// Responsive Media
/////////////////////////////////////

figure, img, svg, video, audio, embed, canvas
	max-width: 100%
	height: auto
	margin: 0 auto
	display: block
    border-radius: $border-radius-base


// Images
/////////////////////////////////////

img
	vertical-align: middle;
	box-shadow: 0 1px 3px rgba(0,0,0,.2)

.teaser,
.teaser img
    margin-top: $line-height-computed*1.5
    margin-bottom: $line-height-computed*1.5


// Media Positioning
/////////////////////////////////////

img.alignleft,
img.alignright,
img.aligncenter
	float: none
	display: block
	margin: $line-height-computed auto

@media $breakpoint2
	img.alignleft
        margin: 0 $line-height-computed $line-height-computed 0

	img.alignright
        margin: 0 0 $line-height-computed $line-height-computed
