//
// kremalicious3
// --------------
// Search
//

.site-search
    margin-right: 4%

    .nav-popover
        left: 0
        width: 100%

.search-btn
    padding: .65em .85em

.search-close
    position: absolute
    right: 1em

    &,
    &:active
        top: 1em

.search-area
    @extend .transition
    position: absolute
    width: 100%
    left: 0
    top: -3px
    z-index: 3

    // hidden by default
    transform: translate(0, -70px)

    &.ready
        transform: translate(0, 0)

.search-results
    @extend .clearfix

    .nav-link
        @media $breakpoint2
            width: 50%
            float: left
            font-size: $font-size-small

.popover
    position: absolute
    left: 0
    top: 71px
    z-index: 6
    background: lighten($page-bg, 3%)
    border-bottom: 1px solid rgba(255,255,255,.7)
    box-shadow: 0 1px 4px rgba($brand-dark, .1)

    @media $breakpoint2
        top: 0

        .row
            margin-top: $line-height-computed
            margin-bottom: $line-height-computed