.header {
  padding: 0 var(--space-s);
}

@media (min-width: 40rem) and (min-height: 500px) {
  .header {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    border: 0;
    will-change: transform;
    padding-top: var(--space-xs);
    padding-bottom: var(--space-xs);
  }
}

.headerContent {
  max-width: var(--maxWidthContent);
  margin-left: auto;
  margin-right: auto;
  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

/* Logo
///////////////////////////////////// */

.title {
  display: block;
  /* biome-ignore lint/a11y/useGenericFontNames: hack */
  font: 0 / 0 a;
  color: transparent;
  width: 60px;
  overflow: hidden;
}

@media (min-width: 40rem) {
  .title {
    width: 212px;
    color: var(--text-color-light);
  }
}

.title:hover,
.title:focus {
  color: var(--link-color);
}

.logo {
  width: 191px;
  height: 36px;
  margin: 0;
  transition: 0.2s ease-out;
}

.nav {
  display: flex;
  align-items: center;
}

.nav svg {
  transition: 0.2s ease-out;
}

.nav > div,
.nav > button {
  padding: var(--space-s);
}

.nav > div,
.nav > button,
.nav > div > label,
.nav > div > label > div {
  display: inline-flex;
  align-items: center;
}

.nav > button:last-of-type {
  padding-right: 0;
}
