.menu {
  margin-top: var(--space-xs);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.menu[aria-hidden] {
  display: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
}

.menu li {
  list-style: none;
  display: inline-block;
  margin: 0;
}

.menu li::before {
  display: none;
}

.menu a {
  color: var(--text-color);
  line-height: 1;
  text-transform: uppercase;
  margin: 0 var(--space-2xs);
  font-size: var(--fs--1);
  padding: var(--space-s);
  display: block;
  text-align: center;
}

.menu a:hover,
.menu a:focus {
  color: var(--link-color);
  text-decoration: none;
}

.menu::-webkit-scrollbar,
.menu::-moz-scrollbar,
.menu::-webkit-scrollbar-thumb,
.menu::-webkit-scrollbar-track {
  display: none;
}
