.menu {
  margin-top: var(--space-m);
  position: absolute;
  top: 100%;
  left: 0;
  width: 100%;
}

.menu[aria-hidden] {
  display: none;
}

.menu ul {
  margin: 0;
  padding: 0;
  text-align: center;
  overflow: auto hidden;
  -webkit-overflow-scrolling: touch;
  white-space: nowrap;
  display: flex;
  justify-content: center;
  gap: var(--space-xs);
}

.link {
  color: var(--text-color);
  line-height: 1;
  text-transform: uppercase;
  font-size: var(--fs--1);
  padding: var(--space-2xs) var(--space-xs);
  display: flex;
  align-items: center;
  gap: var(--space-2xs);
  border-radius: var(--border-radius);
}

.link:hover,
.link:focus {
  color: var(--link-color);
  text-decoration: none;
  background-color: var(--box-background-color);
}

.icon {
  color: var(--text-color-light);
}

.menu ul li:nth-child(3) .icon,
.menu ul li:nth-child(4) .icon {
  /* flip icons for consistency with other icons*/
  transform: scaleX(-1);
}

.menu::-webkit-scrollbar,
.menu::-moz-scrollbar,
.menu::-webkit-scrollbar-thumb,
.menu::-webkit-scrollbar-track {
  display: none;
}
