---
import type { CollectionEntry } from 'astro:content'
import Picture from './core/Picture.astro'

type Props = CollectionEntry<'photos'>

const { slug } = Astro.props
const { title, image } = Astro.props.data
---

<style>
  .photo a {
    display: block;
  }

  .photo figure,
  .photo figure > div {
    margin: 0;
  }

  .photo figcaption {
    font-size: var(--font-size-base);
    padding-left: calc(var(--spacer) / 2);
    padding-right: calc(var(--spacer) / 2);
  }
</style>

<article class="photo">
  {
    image ? (
      <a href={slug}>
        <Picture
          width={316}
          height={316}
          image={image}
          alt={title}
          title={title}
        />
      </a>
    ) : null
  }
</article>
