.hentry {
  /* composes: container from '../../Layout.module.css'; */
  width: 100%;
  padding-bottom: var(--spacer);
}

.hentry > a {
  display: block;
}

.hentry:only-child {
  padding-bottom: var(--spacer);
}

.image {
  /* composes: breakout from '../../Layout.module.css'; */
}
