.lead {
  font-size: var(--font-size-large);
  margin-bottom: calc(var(--spacer) * var(--line-height));
}

.index {
  font-size: var(--font-size-base);
  margin-top: calc(var(--spacer) * var(--line-height));
}
