.send {
  margin-top: calc(var(--spacer) / 2);
}

.title {
  text-align: center;
}

.actions {
  display: flex;
  justify-content: center;
}

.actions button {
  line-height: 1;
}

.actions button:first-child {
  margin-right: var(--spacer);
  width: 115px;
  height: 50px;
  padding-top: 0;
  padding-bottom: 0;
}
