.Token {
  font-size: var(--fs--1);
  line-height: 1;
  color: var(--text-color);
  display: flex;
  align-items: center;
  padding: var(--space-2xs) var(--space-s) var(--space-2xs) 25px;
  position: relative;
  user-select: none;
}

.Token[data-disabled] {
  opacity: 0.5;
  pointer-events: none;
}

.Token[data-highlighted] {
  outline: none;
  background-color: var(--box-background-color);
}

.TokenLogo {
  width: 32px;
  height: 32px;
  border-radius: 50%;
  margin-right: var(--space-2xs);
  border: 1px solid var(--border-color);
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-size: var(--fs--2);
  position: relative;
}

.TokenLogoImage {
  margin: 0;
  border-radius: 50%;
}

.TokenChainLogo {
  width: 16px;
  height: 16px;
  position: absolute;
  bottom: -5px;
  right: -5px;
  border-radius: 50%;
  border: 2px solid var(--border-color);
}

.TokenName,
.TokenBalance {
  margin: 0;
  text-align: left;
}

.TokenName {
  font-size: var(--fs-0);
  transition: none;
}

.TokenBalance {
  font-size: var(--fs--1);
}

.TokenValue {
  font-size: var(--fs--1);
  display: inline-flex;
  align-self: flex-start;
  margin-left: auto;
  padding-left: var(--space-2xl);
}

.SelectItemIndicator {
  position: absolute;
  left: 0;
  width: 25px;
  display: inline-flex;
  align-items: center;
  justify-content: center;
}
