//
// kremalicious3
// --------------
// Generic Content
//


// Page Title
/////////////////////////////////////

.page-title
    @extend .h2, .heading-band
    color: $brand-grey-light
    margin-top: -($spacer*2)
    margin-bottom: $spacer

    .hash
        @extend .h3
        color: darken($page-bg, 15%)
        margin-right: 2px

.hentry
    @extend .divider-bottom
    padding-top: ($spacer*2)
    padding-bottom: ($spacer*2)
    width: 100%

    &:first-child
        padding-top: 0

    @media $screen-sm
        padding-top: ($spacer*3)
        padding-bottom: ($spacer*3)

    .page-single &
        border: none

        &:before
            @extend .hide


// Post Header
/////////////////////////////////////

.entry-header
    .page-single &
        @media $screen-md
            breakoutviewport()


// Post Title
/////////////////////////////////////

.entry-title
    @extend .h1, .textcenter
    color: $headings-color
    margin-top: 0
    margin-bottom: $spacer

    a
        @extend .link--nounderline

    .format-link &
        @extend .h3


// Post Lead
/////////////////////////////////////

.entry-lead
    @extend .large, .textcenter
    color: $brand-grey
    line-height: $line-height-large


// Post/photo teaser
/////////////////////////////////////

.hentry__teaser
    picture
        @extend .breakoutviewport
        max-width: none
        display: block
        margin-top: ($spacer*1.5)
        margin-bottom: ($spacer*1.5)

    img
        @extend .media-frame
        border-radius: 0

        @media $screen-sm
            border-radius: $border-radius-base

.hentry__teaser--link
    &:hover,
    &:focus
        img
            border-color: $link-color

// Post Content
/////////////////////////////////////

.entry-content
    h1,
    h2
        @extend .heading-band

    h1
        @extend .h2
    h2
        @extend .h3
    h3
        @extend .h4

    img:not(.hentry__teaser img)
        @extend .media-frame
        margin-bottom: ($spacer/2)

    p:last-child
        margin-bottom: 0


// Post meta
/////////////////////////////////////

.entry-meta
    @extend .small
    margin-top: ($spacer*2)

    a
        @extend .link--nounderline

.byline,
.time,
.tags,
.categories
    @extend .textcenter

.byline,
.time
    @extend .text-dimmed, .italic

.byline
    margin-bottom: 0

    .by
        display: block

.time
    margin-bottom: ($spacer*2)


// Categories & Tags
/////////////////////////////////////

.categories
    margin-bottom: ($spacer/2)

.category
    @extend .h6, .textcenter, .mini, .link--nounderline
    color: $text-color
    line-height: 1
    text-transform: uppercase
    border: 1px solid $text-color
    border-radius: $border-radius-base
    padding: 4px 8px
    margin: 0
    display: inline-block

    &:hover,
    &:focus
        color: $link-color
        border-color: $link-color

    &:active
        background: $link-color
        top: 0
        color: #fff

.tag
    @extend .link--nounderline
    color: $text-color
    margin-right: 5px

    &:before
        @extend .text-dimmed
        content: '#'
        margin-right: 1px

.avatar
    width: 80px
    height: 80px
    border-radius: 80px
    border: 2px solid #fff


// Goodies download
/////////////////////////////////////

.goodie-actions
    @extend .aligncenter
    max-width: 640px

    p,
    .btn
        margin-bottom: 0

    .btn
        display: block
