//
// kremalicious3
// --------------
// Content - Link Post
//

.linkurl
    @extend .text-dimmed, .ellipsis, .aligncenter
    font-family: $font-family-base
    font-size: $font-size-mini
    padding: ($spacer/3) 0
    max-width: 70%

    @media $breakpoint2
        max-width: 50%

.permalink-link
    @extend .alignright
    .icon
        fill: $link-color
        width: 18px

    &:hover .icon
        fill: $link-color-hover
