//
// kremalicious3
// --------------
// Content - Related Posts
//

.related-posts
    .grid
        margin-top: 0

.related-posts-title
    @extend .heading-band, .h3
    margin-bottom: $spacer

.related-post
    img
        @extend .media-frame

    .post-title
        @extend .h5, .transition, .text-dimmed
        margin-top: ($spacer / 3)
        margin-bottom: 0
        padding: 0 2px

    .post-title-link
        @extend .transition, .link--nounderline
        display: block

        &:hover,
        &:focus
            .post-title
                color: $link-color
            img
                border-color: $link-color-hover

        &:active
            .post-title
                color: #fff
                transition: none


//
// Related Photos
//
.related-photos
    @extend .divider-top
    margin-top: $spacer
    padding-top: $spacer
