//
// kremalicious3
// --------------
// Media
//


// Responsive Media
/////////////////////////////////////

figure, img, svg, video, audio, embed, canvas, picture
    max-width: 100%
    height: auto
    margin: 0 auto
    display: block
    border-radius: $border-radius-base

// Images
/////////////////////////////////////

img
    vertical-align: middle


// Media Positioning
/////////////////////////////////////

img.alignleft,
img.alignright,
img.aligncenter
    float: none
    display: block
    margin: $spacer auto

@media $screen-sm
    img.alignleft
        margin: 0 $spacer $spacer 0
    img.alignright
        margin: 0 0 $spacer $spacer


// Image frame style
/////////////////////////////////////

.media-frame
    @extend .transition
    border-top: 2px solid transparent
    border-bottom: 2px solid transparent
    border-radius: $border-radius-base
    box-shadow: 0 1px 3px alpha($brand-grey,.2)

    @media $screen-sm
        border: 2px solid transparent
