@import 'variables';

.title {
  margin-top: $spacer * 3;
  margin-bottom: 0;
}

.content {
  padding-top: $spacer;
  padding-left: $spacer / 2;
  margin-left: $spacer / 2;
  border-left: 1px solid $brand-grey-dimmed;

  :global(.dark) & {
    border-left-color: rgba($color-headings--dark, 0.2);
  }

  h2,
  h3,
  h4 {
    position: relative;
    margin-bottom: $spacer / 4;

    &::before {
      content: '';
      width: 0.5rem;
      height: 0.5rem;
      border-radius: 50%;
      display: inline-block;
      background: $color-headings;
      position: absolute;
      left: -($spacer / 1.5);
      top: $font-size-large / 3;

      :global(.dark) & {
        background: $color-headings--dark;
      }
    }

    + blockquote {
      padding-left: 0;
      font-size: $font-size-small;

      &::before {
        display: none;
      }
    }
  }

  h2,
  h3 {
    font-size: $font-size-large;
    background: none;
    padding: 0;
    margin-left: 0;
    margin-top: $spacer / 8;
    margin-bottom: $spacer / $line-height;
  }

  ul {
    font-size: $font-size-small;
    margin-left: $spacer / 8;

    li {
      margin-bottom: $spacer / 8;
    }
  }
}

.source {
  font-size: $font-size-mini;
  font-family: $font-family-base;
  font-weight: $font-weight-base;
  padding-bottom: $spacer / 2;

  &,
  a {
    color: $brand-grey-light;
  }

  a {
    margin-left: $spacer / 8;

    code {
      font-size: ($font-size-mini * 0.9);
    }

    &:hover {
      color: $link-color;
    }
  }
}
