@import 'variables';

.coinhive {
    position: fixed;
    bottom: 0;
    right: 0;
    z-index: 10;
    font-size: $font-size-mini;
    padding: ($spacer / 3) ($spacer / 2);
    background: rgba($page-background-color, .5);
    border-top-left-radius: 4px;
    line-height: 1.2;
    cursor: pointer;
}

.hashrate {
    opacity: .6;
}
