@import 'variables';
@import 'mixins';

.exif {
    margin-top: -($spacer);
    margin-bottom: $spacer * 2;
}

.data {
    font-size: $font-size-mini;
    color: $brand-grey-light;
    display: flex;
    flex-wrap: wrap;
    text-align: center;

    span {
        display: block;
        flex: 0 0 33%;
        white-space: nowrap;
        padding: $spacer / 4;

        &:first-child {
            flex-basis: 100%;
        }
    }

    @media (min-width: $screen-sm) {
        span {
            &,
            &:first-child {
                flex: 1 1 auto;
            }
        }
    }
}

.map {
    @include breakoutviewport;

    border-radius: $border-radius;
    overflow: hidden;
    margin-top: $spacer / 2;
    border: 1px solid $brand-grey-dimmed;
    height: 160px;
}
