@import 'variables';

.icon {
  width: 1em;
  height: 1em;
  stroke: currentColor;
  stroke-width: 0.1rem;
  stroke-linecap: round;
  stroke-linejoin: round;
  fill: none;
  vertical-align: baseline;
}
