@import 'variables';
@import 'mixins';

.imageTitle {
  @include transition();

  font-size: $font-size-h3;
  font-family: $font-family-headings;
  line-height: $line-height-headings;
  font-weight: $font-weight-headings;
  font-style: normal;
  text-align: left;
  margin: 0;
  position: absolute;
  top: 10%;
  padding: $spacer / 3 $spacer;
  background: rgba($link-color, 0.85);
  color: #fff !important;
  text-shadow: 0 1px 0 #000;
  left: 0;
  opacity: 0;
  transform: translate3d(0, -20px, 0);
}

.image {
  @include media-frame;
  @include breakoutviewport;

  max-width: none;
  margin-top: $spacer * $line-height;
  margin-bottom: $spacer * $line-height;
  display: block;

  a & {
    position: relative;
    display: block;
  }

  // single photo post teasers
  &:only-child {
    margin-top: 0;
    margin-bottom: 0;
  }

  a:hover &,
  a:focus & {
    border-color: $link-color !important;

    .imageTitle {
      opacity: 1;
      transform: translate3d(0, 0, 0);
    }
  }
}
