@import 'mixins';

.imageWrap {
  @include media-frame;

  margin-left: auto;
  margin-right: auto;
  margin-bottom: $spacer;
  display: block;

  @media (min-width: 940px) {
    max-width: 940px;
    border-radius: 0.25rem;
    overflow: hidden;
  }

  a:hover & {
    border-color: $link-color !important;
  }
}
