.input {
  display: block;
  width: 100%;
  padding: var(--padding-base-vertical) var(--padding-base-horizontal);
  font-size: var(--input-font-size);
  font-weight: var(--input-font-weight);
  line-height: var(--line-height);
  color: var(--input-color);
  background-color: var(--input-bg);
  background-image: none;
  border: var(--stroke-width) solid transparent;
  border-radius: var(--border-radius);
  box-shadow: none;
  transition: all ease-in-out 0.15s;
  appearance: none;
}

.input:focus {
  border-color: var(--input-border-focus);
  outline: 0;
}

.input[disabled] {
  color: var(--text-color-dimmed);
}

.input::-moz-placeholder,
.input::-webkit-input-placeholder,
.input:-ms-input-placeholder {
  color: var(--input-color-placeholder);
  opacity: 1;
}
