@import 'variables';
@import 'mixins';

.featured {
  display: grid;
  gap: $spacer;
  grid-template-columns: repeat(2, 1fr);

  @media (min-width: $screen-md) {
    grid-template-columns: repeat(3, 1fr);
  }
}
