@import 'variables';
@import 'mixins';

.featured {
    @include breakoutviewport;
    @include divider;

    display: flex;
    margin-top: $spacer * $line-height;
    padding-left: $spacer / 2;
    padding-right: $spacer / 2;
    margin-bottom: -($spacer);
    padding-bottom: $spacer * 3;

    @media (min-width: $screen-md) {
        padding-left: 0;
        padding-right: 0;
    }
}

.featuredTitle {
    transition: .1s ease-out;
    font-size: $font-size-mini;
    margin: 0;
    position: absolute;
    top: 25%;
    min-width: 45%;
    text-align: right;
    padding: $spacer / 3;
    background: rgba($link-color, .85);
    color: #fff;
    text-shadow: 0 1px 0 #000;
    left: 0;
    opacity: 0;
    transform: translate3d(0, -20px, 0);

    @media (min-width: $screen-sm) {
        font-size: $font-size-base;
    }
}

.featuredItem {
    flex: 1;
    position: relative;
    margin-left: $spacer / 2;

    &:first-child {
        margin-left: 0;
    }

    a {
        > div {
            @include media-frame();
        }

        &:hover,
        &:focus {
            > div {
                border-color: $link-color !important;
            }

            .featuredTitle {
                opacity: 1;
                transform: translate3d(0, 0, 0);
            }
        }
    }
}
