@import 'variables';

.link {
  text-align: center;
  width: 2rem;
  padding: $spacer / 4;
  margin-left: $spacer / 4;
  margin-right: $spacer / 4;
  display: inline-block;
  color: $text-color-light;

  &:first-child {
    margin-left: 0;
  }

  &:last-child {
    margin-right: 0;
  }

  svg {
    width: 24px;
    height: 24px;
    transition: stroke 0.3s ease-in-out;
    display: block;
    margin: 0 auto;
  }
}
