.pagination {
  margin-top: calc(var(--spacer) * 3);
  margin-bottom: var(--spacer);
  display: flex;
  justify-content: center;
}

.number {
  text-align: center;
  padding: calc(var(--spacer) / 6) calc(var(--spacer) / 2);
  border: 1px solid var(--text-color-dimmed);
  font-variant-numeric: lining-nums;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  color: var(--text-color);
}

.number:hover,
.number:focus {
  background: rgba(255 255 255 / 10%);
}

.number:first-child {
  border-top-left-radius: var(--border-radius);
  border-bottom-left-radius: var(--border-radius);
}

.number:last-child {
  border-top-right-radius: var(--border-radius);
  border-bottom-right-radius: var(--border-radius);
}

.current {
  composes: number;
  cursor: default;
  pointer-events: none;
  color: var(--text-color-dimmed);
}
