@import 'variables';
@import 'mixins';

.pagination {
  @include breakoutviewport;

  margin-top: $spacer * 3;
  margin-bottom: $spacer;
  display: flex;
  justify-content: center;
}

.number {
  text-align: center;
  padding: $spacer / 6 $spacer / 2;
  border: 1px solid $brand-grey-dimmed;
  font-variant-numeric: lining-nums;
  margin-left: -1px;
  display: flex;
  align-items: center;
  justify-content: center;
  min-width: 2.5rem;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);
  color: $brand-grey;

  :global(.dark) & {
    color: $brand-grey-dimmed;
    border-color: darken($body-background-color--dark, 5%);
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2);
  }

  &:hover,
  &:focus {
    background: rgba(255, 255, 255, 0.1);
  }

  &:first-child {
    border-top-left-radius: $border-radius;
    border-bottom-left-radius: $border-radius;
  }

  &:last-child {
    border-top-right-radius: $border-radius;
    border-bottom-right-radius: $border-radius;
  }
}

.current {
  composes: number;
  cursor: default;
  pointer-events: none;
  color: $brand-grey-dimmed;
  background: rgba(255, 255, 255, 0.1);

  :global(.dark) & {
    color: $brand-grey-light;
  }
}
