@import 'variables';
@import 'mixins';

.title {
  padding-left: 0.2rem;
  padding-right: 0.2rem;
  margin-top: $spacer / 2;
  margin-bottom: 0;
  font-size: $font-size-base;
  transition: color 0.2s ease-out;
}

.post {
  display: block;

  figure {
    margin: 0;
  }
}

.time {
  font-style: italic;
  font-size: $font-size-small;
  color: $text-color-light;
}

.empty {
  @include media-frame;

  display: block;
  min-height: 95px;
  background: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAkAAAAJCAYAAADgkQYQAAAAAXNSR0IArs4c6QAAAERlWElmTU0AKgAAAAgAAYdpAAQAAAABAAAAGgAAAAAAA6ABAAMAAAABAAEAAKACAAQAAAABAAAACaADAAQAAAABAAAACQAAAAAvQpmhAAAAHElEQVQYGWNgoBL4T8gcggoIGcBA0ASCCmhsBQBhFwX7u70C8QAAAABJRU5ErkJggg==);

  a:hover & {
    border-color: $link-color;
  }
}
