@import 'variables';
@import 'mixins';

.themeSwitch {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  margin-right: $spacer / 4;

  svg {
    stroke: $brand-grey-light;
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    svg {
      stroke: $brand-cyan;
    }
  }

  &:active {
    svg {
      stroke: darken($brand-cyan, 30%);
    }
  }
}

.checkbox {
  position: relative;
  cursor: pointer;
  padding: $spacer / 2;
  display: block;

  // hide visually
  [type='checkbox'],
  .label {
    width: 1px;
    height: 1px;
    border: 0;
    clip: rect(0 0 0 0);
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
  }
}
