@import 'variables';
@import 'mixins';

.avatar {
    @include media-frame;

    margin-bottom: ($spacer / 2);
    border-radius: 50%;
}

.description {
    font-size: $font-size-h5;
    margin-top: 0;
    margin-bottom: ($spacer / 4);

    a {
        display: block;
    }
}
