@import 'variables';
@import 'mixins';

.vcard {
  margin-bottom: $spacer * 2;
}

.avatar {
  @include media-frame;

  margin-bottom: $spacer / 3;

  &,
  img {
    border-radius: 50%;
    overflow: hidden;
  }
}

.description {
  font-size: $font-size-h5;
  margin-top: 0;
  margin-bottom: ($spacer / $line-height);

  a {
    display: block;
  }
}
