---
import Copy from '@components/core/Copy.astro'

type Props = {
  address: string
  title: string
}

const { address, title }: Props = Astro.props
---

<style>
  .coin {
    margin-top: var(--spacer);
  }

  .titleCoin {
    margin-bottom: 0;
    font-size: var(--font-size-base);
  }

  .code {
    position: relative;
    padding: 0;
    width: 100%;
  }

  .code code {
    display: block;
    padding: calc(var(--spacer) / 2);
    padding-right: 2rem;
    font-size: 0.65rem;
  }
</style>

<div class="coin">
  <h4 class="titleCoin">{title}</h4>
  <div class="code">
    <code>{address}</code>
    <Copy text={address} />
  </div>
</div>
