---
import Coin from './Coin.astro'
import config from '@config/blog.config.ts'

const coins = Object.entries(config.author).filter(
  ([key]) => key === 'bitcoin' || key === 'ether'
)
---

<style>
  .coins {
    margin-left: auto;
    margin-right: auto;
    max-width: 25rem;
    width: 100%;
    border-top: 1px solid var(--border-color);
  }
</style>

<div class="coins">
  <h3 class="subTitle">Send Bitcoin or ERC-20 tokens from any wallet.</h3>

  {
    coins.map(([key, value]: [key: string, value: string]) => (
      <Coin title={key} address={value} />
    ))
  }
</div>
