.searchForm {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
}

.searchInput {
  width: 100%;
}

.searchInput::-webkit-search-cancel-button {
  display: none;
}

.searchInputClose {
  position: absolute;
  right: var(--space-xs);
  top: var(--space-xs);
}

.searchInputClose svg {
  stroke: var(--brand-grey-light);
  width: 24px;
  height: 24px;
}

.searchInputClose:hover svg,
.searchInputClose:focus svg {
  stroke: var(--link-color);
}
