---
import Copy from '@components/Copy.astro'

type Props = {
  address: string
  title?: string
}

const { address }: Props = Astro.props
---

<style>
  .coin {
    margin-top: calc(var(--spacer) / 6);
  }

  .titleCoin {
    font-size: var(--font-size-base);
    margin-top: var(--spacer);
    margin-bottom: calc(var(--spacer) / 6);
  }

  .titleCoin:empty {
    display: none;
  }

  .code {
    position: relative;
    padding: 0;
    width: 100%;
  }

  .code code {
    display: block;
    padding: calc(var(--spacer) / 2);
    padding-right: 2rem;
    font-size: var(--font-size-mini);
  }
</style>

<div class="coin">
  <h4 class="titleCoin"><slot /></h4>
  <div class="code">
    <code>{address}</code>
    <Copy text={address} />
  </div>
</div>
