---
import styles from './Networks.module.css'
import { Rss, Mastodon, Github, Jsonfeed } from '@images/components'

type Props = {
  links: string[]
}

const { links } = Astro.props
---

<section class={styles.networks}>
  {
    links.map((link: string) => (
      <a class={styles.link} href={link} title={link} rel="me">
        {link.includes('mas.to') ? (
          <Mastodon />
        ) : link.includes('github') ? (
          <Github />
        ) : link.includes('feed.xml') ? (
          <Rss />
        ) : link.includes('feed.json') ? (
          <Jsonfeed />
        ) : null}
      </a>
    ))
  }
</section>
