.networks {
  margin-top: var(--space-s);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: var(--space-m);
}

.link {
  text-align: center;
  display: inline-flex;
  justify-content: center;
  align-items: center;
  color: var(--text-color-light);
}

.link svg {
  width: 24px;
  height: 24px;
  transition: stroke 0.3s ease-in-out;
  display: block;
  margin: 0 auto;
}
