.avatar {
  composes: frame from '@/components/ui/Picture/index.module.css';
}

.vcard .avatar {
  border-radius: 50%;
  margin-bottom: var(--space-2xs);
  width: 80px;
  height: 80px;
}

.description {
  font-size: var(--fs-0);
  margin: 0;
}

.description a {
  display: inline-block;
}
