.avatar {
  composes: frame from '@components/Picture/Picture.module.css';
  border: 2px solid transparent;
  border-radius: 50%;
  margin-bottom: calc(var(--spacer) / 3);
}

.description {
  font-size: var(--font-size-h5);
  margin-top: 0;
  margin-bottom: calc(var(--spacer) / var(--line-height));
}

.description a {
  display: block;
}
