.avatar {
  composes: frame from '@/components/Picture/index.module.css';
  border: 2px solid transparent;
  border-radius: 50% !important;
  margin-bottom: calc(var(--spacer) / 3);
  width: 80px;
  height: 80px;
}

.description {
  font-size: var(--font-size-h5);
  margin: 0;
}

.description a {
  display: inline-block;
}
