---
import { Image } from 'astro:assets'
import Networks from './Networks'
import avatar from '../../images/avatar.jpg'
import config from '../../../.config/blog.config.mjs'

const { author, rss, jsonfeed } = config
const { mastodon, twitter, github, name, uri } = author
const links = [mastodon, github, twitter, rss, jsonfeed]
---

<style>
  .avatar {
    /* composes: frame from '../atoms/Image.module.css'; */
    border: 2px solid transparent;
    border-radius: 50%;
    margin-bottom: calc(var(--spacer) / 3);
  }

  .description {
    font-size: var(--font-size-h5);
    margin-top: 0;
    margin-bottom: calc(var(--spacer) / var(--line-height));
  }

  .description a {
    display: block;
  }
</style>

<Image class="avatar" src={avatar} width="80" height="80" alt="avatar" />

<p class="description">
  Blog of designer &amp; developer{' '}
  <a class="fn" rel="author" href={uri}>
    {name}
  </a>
</p>

<Networks links={links} />
