@import 'variables';

.empty {
  padding-top: 15vh;
  display: flex;
  justify-content: center;
}

.emptyMessage {
  color: $brand-grey-light;
}

.emptyMessageText {
  margin-bottom: 0;
  position: relative;

  &::after {
    overflow: hidden;
    display: inline-block;
    vertical-align: bottom;
    animation: ellipsis steps(4, end) 1s infinite;
    content: '\2026'; // ascii code for the ellipsis character
    width: 0;
    position: absolute;
    left: 101%;
    bottom: 0;
  }
}

@keyframes ellipsis {
  to {
    width: 1rem;
  }
}
