@import 'variables';
@import 'mixins';

.actions {
    @include breakoutviewport;

    margin-top: $spacer * 3;
    border-top: 1px dashed $brand-grey-dimmed;
    border-bottom: 1px dashed $brand-grey-dimmed;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    > div {
        flex: 0 0 100%;
        border-bottom: 1px dashed $brand-grey-dimmed;

        &:last-child {
            border-bottom: 0;
        }

        @media (min-width: $screen-sm) {
            flex: 0 0 33.33333%;
            border-bottom: 0;
            border-left: 1px dashed $brand-grey-dimmed;

            &:first-child {
                border-left: 0;
            }
        }
    }
}

.link {
    transition: .2s ease-out;
    color: $link-color;
}

.actionTitle {
    font-size: $font-size-base;
    color: $text-color;
    margin-top: 0;
    margin-bottom: $spacer / 4;
    transition: color .2s ease-out;
}

.actionText {
    font-size: $font-size-small;
    color: $brand-grey-light;
    margin-bottom: 0;
    transition: color .2s ease-out;
}

.action {
    display: block;
    margin: 0;
    padding-top: $spacer * $line-height;
    padding-bottom: $spacer * $line-height;
    padding-left: $spacer * 2;
    padding-right: $spacer;
    position: relative;
    text-align: left;
    height: 100%;

    &:hover,
    &:focus {
        .link,
        .actionTitle,
        .actionText {
            color: $link-color-hover;
        }
    }

    &:active {
        .link,
        .actionTitle,
        .actionText {
            transition: none;
            color: $link-color-active;
        }
    }

    svg {
        position: absolute;
        left: $spacer;
        top: $spacer * $line-height;
        fill: $brand-grey-light;
    }
}
