---
layout: base
title: kremalicious
description: 'Blog of designer & developer Matthias Kretschmann'
---

{% for post in paginator.posts %}
    
    {% if post.layout == "link" %}
    
        <article class="hentry format-link">
        	<header>
        		<h1 class="entry-title">
                    <a href="{{ post.linkurl }}" title="Go to source">{{ post.title }} <i class="icon-forward"></i></a>
                </h1>
        	</header>

            <section class="entry-content">
                {{ post.content }}
        		<p>
        			<a class="more-link" href="{{ post.linkurl }}">Go to source <i class="icon-forward"></i></a>
                    <a class="permalink-link" href="{{ post.url }}" rel="tooltip" title="Permalink">&#8734;</a>
        		</p>
            </section>
        </article>
    
    {% elsif post.layout == "image" %}
    
        <article class="hentry format-image">
    
            <a class="photoPost" href="{{ post.url }}">
            	<figure class="hmedia">
                    
            		<img 
                        src="/media/640/{{ post.image }}"
                        srcset="/media/1280/{{ post.image }} 2x" />
            		<figcaption class="entry-title fn">{{ post.title }}</figcaption>
            		exif
            	</figure>
            </a>
    
        </article>
    
    {% else %}
    
        <article class="hentry format-post">
        	<header>
        		<h1 class="entry-title"><a href="{{ post.url }}">{{ post.title }}</a></h1>
        	</header>

            <section class="entry-content">
                
                {% if post.image %}
                    <a href="{{ post.url }}">
                        <img class="teaser" 
                            src="/media/640/{{ post.image }}"
                            srcset="/media/1280/{{ post.image }} 2x"> />
                    </a>
                {% endif %}
                
                {% capture has_more %}{{ post.content | has_more }}{% endcapture %}
                
                {% if has_more == 'true' %}
                    {{ post.content | post.excerpt | excerpt }}
                {% else %}
                    {{ post.excerpt }}
                {% endif %}
        
                <a class="more-link" href="{{ post.url }}">Continue reading <i class="icon-arrow-right"></i></a>
        
            </section>
        </article>
    
    {% endif %}
        
{% endfor %}

<nav class="row pager pagination">
    {% if paginator.previous_page %}
        
        <p class="previous col2 alignleft">
            <i class="icon-arrow-left"></i> 
            {% if paginator.previous_page == 1 %}
                <a href="/" rel="prev">Previous</a> 
            {% else %}
                <a href="/page/{{ paginator.previous_page }}/" rel="prev">Previous</a>
            {% endif %}
        </p>
    {% endif %}
    <p class="col2 textcenter">
        <span class="page_number ">Page {{ paginator.page }} of {{ paginator.total_pages }}</span>
    </p>
    {% if paginator.next_page %}
        <p class="next col2 alignright">
            <a href="/page/{{ paginator.next_page }}/" rel="next">Next</a> 
            <i class="icon-arrow-right"></i>
        </p>
    {% endif %}
</nav>

    