---
layout: base
front_page: true
redirect_from:
  - /blog/
  - /topics/howto-and-tutorial/
  - /howto-and-tutorial/
  - /most-popular-stuff-on-kremaliciouscom-in-2008/
  - /canon-eos-50d-officially-announced-and-new-lens/
---

{% if paginator.next_page == 2 %}
    {% include featured.html %}
{% endif %}

<section role="main" id="main" class="grid">

    {% if paginator.previous_page %}
        <h1 class="paginator-title">Page {{ paginator.page }}</h1>
    {% endif %}

    {% for post in paginator.posts %}

        {% include articles.html %}

    {% endfor %}

</section>

{% include paginator.html %}
