@import 'variables';
@import 'mixins';

.footer {
  text-align: center;
  padding-top: $spacer * 2;
  color: $text-color-light;
  line-height: $spacer;

  @media (min-width: $screen-sm) and (min-height: 500px) {
    position: fixed;
    width: 100%;
    border: 0;
    will-change: transform;
    z-index: 0;
    bottom: 0;
    box-shadow: none;
  }

  svg {
    fill: $brand-grey-light;
  }
}

.theme {
  margin: $spacer auto;

  p {
    text-align: center;
    margin: 0;
  }
}

.themeTitle {
  font-size: $font-size-h5;
  margin-bottom: $spacer / 2;
}

.copyright {
  padding-top: $spacer;
  padding-bottom: $spacer;

  p {
    margin-bottom: 0;
    font-size: $font-size-mini;
  }

  a,
  button {
    margin-left: $spacer;

    &:first-child {
      margin-left: 0;
    }
  }

  svg {
    width: 15px;
    height: 15px;
    margin-right: 0.25rem;
    margin-bottom: -2px;
    display: inline-block;
  }
}

.btc {
  // stylelint-disable-next-line
  svg {
    width: 10px;
  }

  code {
    font-size: 0.6rem;
    background: none;
    color: $link-color;
    padding: 0;
  }
}
