@import 'variables';
@import 'mixins';

.header {
  @media (min-width: $screen-sm) and (min-height: 500px) {
    position: fixed;
    width: 100%;
    z-index: 1;
    top: 0;
    border: 0;
    will-change: transform;
  }
}

.headerContent {
  @include breakoutviewport;

  position: relative;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 $spacer;

  @media (min-width: $screen-md) {
    padding: 0;
  }
}

// Logo
/////////////////////////////////////

.title {
  margin: 0;

  a {
    display: block;
    @include hide-text;

    width: 60px;
    overflow: hidden;

    @media (min-width: $screen-sm) {
      width: 212px;
    }

    &:hover,
    &:focus {
      svg {
        fill: $brand-cyan;
      }
    }
  }
}

.logo {
  width: 191px;
  height: 36px;
  max-width: unset;
  fill: $brand-grey-light;
  margin: 0;
  transition: 0.2s $easing;
}

.nav {
  display: inline-block;
}
