@import 'variables';

.searchInput {
  composes: input from '../../atoms/Input.module.scss';

  &::-webkit-search-cancel-button {
    display: none;
  }
}

.searchInputClose {
  position: absolute;
  right: $spacer / 2;
  top: $spacer / 2;

  svg {
    stroke: $brand-grey-light;
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    svg {
      stroke: $link-color;
    }
  }
}
