@import 'variables';
@import 'mixins';

.searchResults {
  position: absolute;
  left: 0;
  right: 0;
  z-index: 10;
  top: 0;
  bottom: 0;
  background: rgba($body-background-color, 0.95);
  backdrop-filter: blur(5px);
  animation: fadein 0.3s;
  overflow: scroll;
  -webkit-overflow-scrolling: touch;
  height: 91vh;

  :global(.dark) & {
    background: rgba($body-background-color--dark, 0.95);
  }

  ul {
    @include breakoutviewport;

    padding: $spacer $spacer / 2;
    margin-bottom: 0;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;

    @media (min-width: $screen-md) {
      padding-left: 0;
      padding-right: 0;
    }

    li {
      display: block;
      flex: 0 0 48%;
      margin-bottom: $spacer;

      @media (min-width: $screen-sm) {
        flex-basis: 31%;
      }

      &::before {
        display: none;
      }
    }
  }

  img {
    margin-bottom: 0;
  }

  a {
    display: block;

    > div {
      margin-bottom: 0;
    }

    &:hover,
    &:focus {
      h4 {
        color: $link-color;
      }
    }
  }
}

@keyframes fadein {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}
