@import 'variables';

.accountWrap {
  font-size: $font-size-small;
  color: $brand-grey-light;
  margin-bottom: $spacer;
  display: flex;
  justify-content: space-between;
}

.identicon {
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: $spacer / 8;
}

.balance {
  margin-left: $spacer;
}
