.link {
  margin-bottom: calc(var(--spacer) / 2);
  display: inline-block;
}

.accountWrap {
  font-size: var(--font-size-small);
  color: var(--text-color-light);
  margin-bottom: calc(var(--spacer) / 2);
  display: flex;
  justify-content: space-between;
}

.blockies {
  width: 1.2rem;
  height: 1.2rem;
  border-radius: 50%;
  overflow: hidden;
  display: inline-block;
  vertical-align: middle;
  margin-right: calc(var(--spacer) / 4);
}

.balance {
  margin-left: var(--spacer);
}
