@import 'variables';
@import 'mixins';

.inputGroup {
  max-width: 18rem;
  margin: auto;
  position: relative;
  animation: fadeIn 0.8s ease-out backwards;

  @media (min-width: $screen-sm) {
    display: flex;
    flex-wrap: wrap;
  }

  button {
    width: 100%;
    border-top-left-radius: 0;
    border-top-right-radius: 0;
    border-color: lighten($brand-grey-light, 10%);

    @media (min-width: $screen-sm) {
      width: 50%;
      border-top-right-radius: $border-radius;
      border-top-left-radius: 0;
      border-bottom-left-radius: 0;
      border-left: 0;
    }

    :global(.dark) & {
      border-color: #000;
    }
  }
}

.input {
  position: relative;

  @media (min-width: $screen-sm) {
    width: 50%;
  }

  input {
    text-align: center;
    border: 1px solid lighten($brand-grey-light, 20%);
    font-size: $font-size-large;
    padding: $spacer / 3 $spacer / 3 $spacer / 3 $spacer * 1.7;
    border-bottom: 0;
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;

    @media (min-width: $screen-sm) {
      border-top-right-radius: 0;
      border-bottom-right-radius: 0;
      border-bottom-left-radius: $border-radius;
      border-bottom: 1px solid lighten($brand-grey-light, 20%);
      border-right: 0;
    }

    &::-webkit-inner-spin-button {
      margin-left: -($spacer / 2);
    }

    :global(.dark) & {
      border-color: #000;
      color: $brand-grey-dimmed;
    }
  }
}

.currency {
  position: absolute;
  top: 1px;
  bottom: 1px;
  left: 1px;
  font-size: $font-size-small;
  padding: $spacer / 3;
  color: $brand-grey-light;
  background: $brand-light;
  border-right: 1px solid rgba($brand-grey-light, 0.4);
  border-top-left-radius: $border-radius;
  border-bottom-left-radius: $border-radius;
  display: flex;
  align-items: center;

  :global(.dark) & {
    background: $body-background-color--dark;
    border-right-color: #000;
  }
}

.message {
  composes: message from './index.module.scss';
}

@keyframes fadeIn {
  from {
    opacity: 0.01;
  }

  to {
    opacity: 1;
  }
}
